Django
django-apscheduler
django-debug-toolbar
django-extensions
django-registration-redux
django-impersonate
django-leaflet
# GDAL needs a very specific version matching Debian's GDAL; handled separately in Dockerfile.
gunicorn
html2text
ipython
Markdown
openlocationcode
psycopg2-binary
pytz
six
unidecode
wagtail
XlsxWriter
