{% extends 'layout.html' %}

{% block head %}

<style type="text/css">
.errorlist {
  font-weight: bold;
  color: red;
}
</style>

{% endblock %}


{% block content %}

<h2>Vous avez déjà un compte circuits courts Civam:</h2>
<p>Identifiez-vous :</p>
<form action="" method="post">
  <table>
    {# I'm too lazy to figure out how to change the label from "username" to "e-mail" in the default form #}
    <tr><th><label for="id_username">e-mail :</label></th><td>{{form.username}}</td></tr>
    <tr><th><label for="id_password">Mot de passe :</label></th><td>{{form.password}}</td></tr>
    <tr><td></td><td><input type="submit" value="S'identifier"/></td></tr>
  </table>
  {% csrf_token %}
</form>

{{form.non_field_errors}}

<p>On vous a proposé de rejoindre un circuit Civam ? <a href="{% url 'user_register' %}">Enregistrez-vous</a>.</p>

<p>Vous avez oublié votre mot de passe ? <a href="{% url 'auth_password_reset' %}">Remettez-le à zéro</a>.</p>

{% endblock %}
