{% extends "zinnia/base.html" %}
{% load widget_tweaks %}

{% block content %}

<h1>Changement de mot de passe</h1>

<p>Si tu as oublié ton mot de passe, entre simplement ton adresse email là:</p>

<form action="" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <div class="form-group {% if form.email.errors %} has-error{% endif %}">
        <label for="{{ form.email.id_for_label }}" class="col-sm-2 control-label">{{ form.email.label }}</label>
        <div class="col-sm-10">
            {% if form.email.errors %}<span class="help-block">{{ form.email.errors}}</span>{% endif %}
            {{ form.email|add_class:"form-control" }}
        </div>
    </div>
    <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn">Changer mon mot de passe</button>
    </div></div>
</form>

{% endblock %}
