{% extends 'layout.html' %}

{% block head %}
<style type="text/css">
    .errorlist { background-color: red; color:white; font-weight: bold; }
    ul { margin: 5px; }
    th { text-align: right; }
    .helptext { display: none; }
    input, select { width: 300px; }
    select { height: 300px; }
</style>
{% endblock %}

{% block content %}
<h1>S'enregistrer comme nouvel utilisateur</h1>

<p>Un responsable d'un réseau Caracole vous a proposé de vous
    inscrire sur le site de commandes ? Utilisez ce formulaire
    pour vous enregistrer.</p>

{% if not form.subgroup %}
<p>Une fois votre mail et votre mot de passe enregistrés, votre
    responsable de réseau pourra vous inscrire dans votre groupe
    de distribution.</p>
{% endif %}

<form action="" method="post">
    <table>
        {{form}}
    <tr><td></td><td><input type="submit" value="S'enregistrer" /></td></tr>
    </table>
    {% csrf_token %}
</form>
{% endblock %}