{% extends 'layout.html' %}

{% block head %}
<style type="text/css">
    .errorlist { background-color: red; color:white; font-weight: bold; }
    ul { margin: 5px; }
    th { text-align: right; }
    .helptext { display: none; }
</style>
{% endblock %}

{% block content %}
<h1>S'enregistrer comme nouvel utilisateur</h1>
<p></p>
<form action="" method="post">
    <table>
        {{form}}
    <tr><td></td><td><input type="submit" value="S'enregistrer" /></td></tr>
    </table>
    {% csrf_token %}
</form>
{% endblock %}