{% extends 'layout.html' %}

{% block content %}

<h2>Pour compléter votre demande de compte Circuits Courts Caracole</h2>

<p>Vous avez désormais un compte "circuits courts Caracole", mais vous n'êtes encore enregistré dans aucun groupe
    de distribution : ceci ne peut être fait que par un responsable de sous-groupe. <em>Contactez votre responsable de
    sous-groupe et demandez lui de vous ajouter à sa liste de membres</em>.</p>

<p><a href="/">Retour à la page d'accueil</a></p>

{% endblock %}