h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #811305;
}

h1 { letter-spacing: -1px; font-size: 32px; }
h2 { font-size: 23px; }

ul, ol {
	margin: 0 0 2em 0;
	text-align: left;
	line-height: 26px;
}

a:link { color: #3B0700; }
a:hover, a:active { text-decoration: none; color: #3B0700; }
a:visited { color: #3B0700; }

img { border: none; }

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* Header */

#header {
	width: 939px;
	margin: 0 auto;
}


/** LOGO */

#logo {
	float: left;
	width: 939px;
	height: 273px;
	margin-left: 10px;
	background: url(../images/caracole_logo.jpg) no-repeat left top;
}

#logo h1, #logo h2 {
	margin: 0;
	line-height: normal;
}

#logo h1 {
	padding: 60px 0 0 140px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 46px;
	font-style: italic;
    text-shadow: 0 0 5px white;
}

#logo h1 a {
    text-decoration: none;
    color: #811305;
}
#logo h1 a:hover { text-decoration: underline; }
#logo a:visited  { color: #811305; }

#logo h2 {
	margin: 0;
	padding: 0px 0 0 140px;
	font: italic 15px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
}

#logo a:hover { text-decoration: underline; }


#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }

em { font-style: normal; color: #811305; font-weight: bold; }

[type=submit], button.submit {
    color:            white;
    background-color: #811305;
    font-weight:      bold;
    border:           5px outset #a75a50;
    margin:           10px;
}

[type=submit]:disabled, button.submit:disabled {
    color:            white;
    background-color: #818181;
    border-color: #818181;
}

table { border-collapse: collapse; }
table.with-border td, table.with-border th { border: 1px solid #811305; }

td.blank { border: none !important; }
th { color: #811305; padding-left: 10px; padding-right: 10px; }
td { text-align: center; }
th.left,td.left { text-align: right; padding-right: 5px; white-space: nowrap; }
th.top,td.top { padding-bottom: 3px; padding-left: 3px; padding-right: 3px; text-align: center; vertical-align: bottom; }
th.left.top,td.left.top { text-align: right; }

th.rotate {
    height: 140px;
    white-space: nowrap;
    border: 0px !important;
    padding-left: 0px;
}

th.rotate > div {
    transform: translate(3px, 70px) rotate(315deg);
    width: 30px;
}

th.rotate > div > div {
    border-top: 1px solid #a75a50;
    padding: 5px 10px 5px 30px;
    width: 150px;
    text-align: left;
}

.yes { font-weight: bold; color: green !important; }
.no  { font-weight: bold; color: red !important; }

ul.horizontal li { display: inline; margin-right: 1em; }

.tooltip {
	position: relative;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.debug {
    color: #A0A0A0;
    display: none;
}
