body {
	margin: 0;
	padding: 0;
	background: white;//#71726E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* Header */

#header {	width: 100%;
	margin: 0 auto;
}

/** LOGO */

#logo {
	float: top;
	width: 100%;
	height: 273px;
	background: url(../images/caracole_logo_wide.jpg) no-repeat left top;
	margin-left: 0 !important; /* Override common.css */
}

#logo h1, #logo h2 {
	margin: 0;
	padding: 60px 0 0 140px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 46px;
	font-style: italic;
}

#logo h1 a {
    text-decoration: none;
    color: #811305;
}

#logo h1 a:hover { text-decoration: underline; }
#logo a:visited  { color: #811305; }

#logo h2 {
	margin: 0;
	padding: 0 0 0 140px;
	font: italic 15px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#logo p a {
	text-decoration: none;
	color: #B6ACA2;
}

#logo p a:hover { text-decoration: underline; }

#wrapper {
	width: 100%;
	margin: 0 auto;
    background: white;
}

/* Page */

#page {
	width: 100%;
	margin: 0 auto;
}

/* Content */
#content {
    padding: 30px 30px 0 0;
    margin-left: 10px;
}
