body {
	margin: 0;
	padding: 0;
	background: #71726E;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: url(../images/background.gif) repeat-y left top;
}

/* Page */

#page {
	width: 939px;
	margin: 0 auto;
}

/* Content */

#content {
	float: right;
	width: 880px;
	padding: 30px 30px 0 0;
}

/* Footer */
#footer-wrap {
	width: 939px;
	height: 80px;
	margin: 0 auto;
	background: #999999;
}

#footer {
	margin: 0 auto;
	height: 80px;
	min-height: 64px;
	padding: 0;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

html>body #footer {
	height: auto;
}

#footer p {
}

#legal {
	clear: both;
	padding-top: 30px;
	text-align: center;
	color: #000000;
}

#legal a {
	text-decoration: none;
	color: #000000;
}
