{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}

<style type="text/css">
    .top-links {
        font-size: 12px;
        background-color: lightgrey;
        position: fixed;
        top: 0px;
        right: 0px;
        line-height: 18px;
        z-index: 100;
    }
    .top-links li::before {
        top: 6px;
    }
    .top-links li {
        margin-top: 0px;
        margin-bottom: 0px;
    }
</style>

<script type='text/javascript'>
    async function load_impersonate(event) {
        if($("#select-impersonate")[0]) {
            // already loaded
            return;
        }
        const response = await fetch("{% url 'users_json' %}");
        const json = await response.json();
        const widget = 
            `&nbsp;<select id="select-impersonate" title="Membres…" data-live-search="true">` +
            json.users
                .map(u => `<option value=${u.id}>${u.first_name} ${u.last_name} — ${u.email}</option>`)
                .join("\n") +
            `</select>`;
        $(event.target).append(widget);
        const select = $("#select-impersonate");
        select.selectpicker();
        setTimeout(() => $("#select-impersonate").selectpicker("toggle"), 0);
        select.on("change", (event) => {
            window.location = "{% url 'impersonate-start' uid=9999 %}".replace(9999, event.target.value)
        });
    }

    function rename_delivery(dv_id, dv_name) {
        const new_name = window.prompt(`Renommer la commande ${dv_name} :`, dv_name);
        const url = "{% url 'set_delivery_name' delivery='DVID' name='NAME' %}".replace('DVID', dv_id).replace('NAME', new_name);
        if (new_name) {
            $.ajax(url, {success: function() { window.location.reload(); }});
        }
    }

    function on_visibility_change(nw_id, event) {
        const url = "{% url 'set_network_visibility' network='NWID' val='VALUE' %}".replace('NWID', nw_id).replace('VALUE', event.target.checked);
        // TODO add "⌛" after event.target
        $.ajax(url, {success: function() {
            // TODO remove hourglass
            console.log("network", nw_id, "visibility is now", event.target.checked);
        } });
    }

    function on_validation_change(nw_id, event) {
        const url = "{% url 'set_network_validation' network='NWID' val='VALUE' %}".replace('NWID', nw_id).replace('VALUE', event.target.checked);
        // TODO add "⌛" after event.target
        $.ajax(url, {success: function() {
            // TODO remove hourglass
            console.log("network", nw_id, "validation is now", event.target.checked);
        } });
    }

    function on_state_change(dv_id, state, event) {
        const url = "{% url 'set_delivery_state' delivery='DVID' state='STATE' %}".replace('DVID', dv_id).replace('STATE', state);
        // TODO add "⌛" after event.target
        $.ajax(url, {success: function() {
            // TODO remove hourglass
            console.log("Success");
        } });
    }

    async function prompt_network_creation() {
        const name = prompt("Créer un nouveau réseau nommé :");
        if(name) {
            const url = "{% url 'create_network' nw_name='NW_NAME' %}".replace("NW_NAME", name);
            await fetch(url);
            document.location.reload();
        }
    }

    $(document).ready(() => {
        $("input.visibility").bootstrapToggle();
    })

</script>

{% endblock %}

{% block content %}
{% if networks|length > 1 %}
<div class="top-links">
    Aller à :
    <ul>
        {% for nw in networks %}
        <li><a href="#nw-{{nw.id}}">{{nw.name}}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<section class="container margetopXl margebot">
    <h1>Administration</h1>

    {% if user.is_staff %}
    <div id="staff-admin" class="margetop">
        <h2>Administration globale</h2>
        <ul>
            <li><a href="{% url 'users_html'%}">Gérer les utilisateurs</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Accès à la base de donnée</a></li>
            <li><a href="{% url 'wagtailadmin_home' %}">Gestion du contenu rédactionnel</a>
            {% if user.is_impersonate %}
            <li>Vous usurpez actuellement l'identité de {{user.first_name}} {{user.last_name}}</a></li>
            {% else %}
            <li><a href="#" onclick="load_impersonate(event);")>Usurper une identité</a></li>
            {% endif %}
            <li><a href="{% url 'view_journal' %}">Journal des actions utilisateur</a></li>
            <li> <a href="#" onclick="prompt_network_creation()">Créer un nouveau circuit</a> </li>
            {% endif %}
            <li>Messages aux utilisateurs :
                <ul>
                    {% for msg in messages %}
                    <li>
                        {% if msg.network %}
                        <strong>Réseau {{msg.network.name}} :</strong>
                        {% endif %}
                        « {{msg.message|safe}} »
                      <a class='button button-primary compact' href="{% url 'unset_message' id=msg.id %}?next={% url 'admin' %}">effacer</a>
                    </li>
                    {% empty %}
                    <li>Aucun message</li>
                    {% endfor %}
                    <li><a href="{% url 'set_message' %}?next=admin">Poster un nouveau message</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% endif %}

    {% if networks|length > 1 %}
    <h2>Administration des réseaux</h2>
    {% endif %}
    
        <!-- Pour chaque circuit -->
        {% for nw in networks %}
 
        <div class="divider acces-rapide couleur-sec">
            <a id="nw-{{nw.id}}"></a>
            <h5 class="center divider couleur-sec">Réseau <span class="couleur-prim">{{nw.name}}</span></h5>
            {% if user.is_staff or nw.is_staff or nw.candidates %}
            <h5 class="txt-left couleur-sec margebotS">Configuration</h5>
            <ul>
                {% if user.is_staff or nw.is_staff %}
                <li><a href="{% url 'edit_network_description' network=nw.id %}">Éditer la <strong>description du réseau</strong></a></li>
                <li><a href="{% url 'directory_network' network=nw.id %}"><strong>Annuaire</strong> des membres</a></li>
                <li><strong>Visible</strong> par les non-membres : 
                    <input
                        class="visibility"
                        id="visibility-{{nw.id}}"
                        name="visibility-{{nw.id}}"
                        type="checkbox" 
                        data-toggle="toggle" 
                        data-on="Oui" 
                        data-off="Non"
                        onchange="on_visibility_change({{nw.id}}, event)"
                        {% if nw.visible %}checked="checked"{%else%}data-invisible="1"{% endif %}
                    />
                  <span id="visibility-state-{{nw.id}}"></span>
                </li>
                <li>Candidatures <strong>validées</strong> : 
                    <input
                        class="auto-validate"
                        id="auto-validate-{{nw.id}}"
                        name="auto-validate-{{nw.id}}"
                        type="checkbox" 
                        data-toggle="toggle" 
                        data-on="automatiquement" 
                        data-off="par&nbsp;les&nbsp;admins"
                        onchange="on_validation_change({{nw.id}}, event)"
                        {% if nw.auto_validate %}checked="checked"{% endif %}
                    />
                  <span id="visibility-state-{{nw.id}}"></span>
                </li>
                {% endif %}{# user/nw.is_staff #}
                {% if not nw.candidates %}
                {# pass #}
                {% elif nw.candidates|length < 4 %}
                <li>Candidatures :
                    <a id="nw-{{nw.id}}-candidacies"></a>
                    <ul>
                        {% for u in nw.candidates %}
                        <li>{{u.first_name}} {{u.last_name}} ({{u.email}}):
                            <a href="{% url 'validate_candidacy' user=u.id network=nw.id response='Y' %}?next={% url 'admin' %}#nw-{{nw.id}}-candidacies">Accepter</a>
                            /   
                            <a href="{% url 'validate_candidacy' user=u.id network=nw.id response='N' %}?next={% url 'admin' %}#nw-{{nw.id}}-candidacies">Refuser</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'manage_candidacies' %}"><strong>{{nw.candidates|length}} candidatures</strong> à valider</a>.</li>
                {% endif %}
            </ul>
            {% endif %}

            <h5 class="txt-left couleur-sec margebotS">Commandes</h5>
            <ul>
                <li><a href="{% url 'list_delivery_models' network=nw.id %}">Créer une <strong>nouvelle commande</strong>.</a></li>
                {% if nw.active_deliveries %}
                <li>
                    <strong>{{nw.active_deliveries}} commandes actives</strong> ; qui a commandé où ? Voir 
                    <strong><a href="{% url 'all_deliveries_html' network=nw.id states='BCD' %}">en ligne</a></strong>,
                    <strong><a href="{% url 'all_deliveries_latex' network=nw.id states='BCD' %}">en PDF</a</strong>
                </li>
                <li><a href="{% url 'invoice_mail_form' network=nw.id %}">Envoyer un <strong>mail de rappel</strong> pour les commandes gelées</a>.</li>
                {% endif %}
                <li><a href="{% url 'archived_deliveries' network=nw.id %}">Voir les commandes <strong>archivées</strong></a>.</li>
            </ul>

            {% for dv in nw.deliveries %}
            <div class="commande-cours">
                <p><strong>
                    {% if dv.freeze_date %}{# if in_the_past and there's a distri date, display the latter. #}
                    <span title="Commandes jusqu'au {{dv.freeze_date|date:'SHORT_DATE_FORMAT'}}"
                        data-toggle="tooltip">
                        {{dv.freeze_date|date:"SHORT_DATE_FORMAT"}}
                    </span> | 
                    {% elif dv.distribution_date %}
                    <span title="Distribution le {{dv.distribution_date|date:'SHORT_DATE_FORMAT'}}"
                        data-toggle="tooltip">
                        {{dv.distribution_date|date:"SHORT_DATE_FORMAT"}} |
                    </span> 
                    {% endif %}
                    {{dv.name }}
                    {% if dv.producer %}
                    - {{dv.producer.first_name}} {{dv.producer.last_name}}
                    {% endif %}
                </strong>
                <select 
                    id="dv-{{dv.id}}-state" 
                    name="dv-{{dv.id}}-state" 
                    class="button admin" 
                    onchange="on_state_change({{dv.id}}, event.target.value)">
                    {% for key, name in Delivery.STATE_CHOICES.items %}
                    <option value="{{key}}" {% if key == dv.state %}selected="selected"{% endif %}>{{name}}</option>
                    {% endfor %}
                </select>

                </p>
                <div>
                    <a class="button modif" href="{% url 'edit_delivery_products' delivery=dv.id %}">Modifier la commande</a>
                    <a class="button modif" href="{% url 'edit_delivery_purchases' delivery=dv.id %}">Modifier les achats</a>
                    <a class="button modif" onclick="rename_delivery({{dv.id}}, '{{dv.name|escapejs}}')">Renommer</a>
                </div>
                <div>
                    <a class="button admin" href="{% url 'view_delivery_purchases_html' delivery=dv.id %}">Voir en ligne</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_xlsx' delivery=dv.id %}">MS-Excel</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_latex' delivery=dv.id %}">Tableau PDF</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_cards' delivery=dv.id %}">Cartes PDF</a>
                </div>
            </div>
            {% endfor %}
            <!-- end commande-->

        </div>
        <!-- end circuit -->
        {% endfor %}

</section>


{% endblock %}