{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}

<style type="text/css">
</style>

<script type='text/javascript'>
    /* TODO: only load userids when the <select> widget opens
     */
    async function load_impersonate(event) {
        if($("#select-impersonate")[0]) {
            // already loaded
            return;
        }
        const response = await fetch("{% url 'users_json' %}");
        const json = await response.json();
        const widget = 
            `&nbsp;<select id="select-impersonate" title="Membres…" data-live-search="true">` +
            json.users
                .map(u => `<option value=${u.id}>${u.first_name} ${u.last_name} — ${u.email}</option>`)
                .join("\n") +
            `</select>`;
        $(event.target).append(widget);
        const select = $("#select-impersonate");
        select.selectpicker();
        setTimeout(() => $("#select-impersonate").selectpicker("toggle"), 0);
        select.on("change", (event) => {
            alert("TODO impersonate user #"+event.target.value);
        });
    }

    function rename_delivery(dv_id, dv_name) {
        const new_name = window.prompt(`Renommer la commande ${dv_name} :`, dv_name);
        const url = "{% url 'set_delivery_name' delivery='DVID' name='NAME' %}".replace('DVID', dv_id).replace('NAME', new_name);
        if (new_name) {
            $.ajax(url, {success: function() { window.location.reload(); }});
        }
    }

    function on_visibility_change(nw_id, event) {
        const url = "{% url 'set_network_visibility' network='NWID' val='VALUE' %}".replace('NWID', nw_id).replace('VALUE', event.target.checked);
        // TODO add "⌛" after event.target
        $.ajax(url, {success: function() {
            // TODO remove hourglass
            console.log("network", nw_id, "visibility is now", event.target.checked);
        } });
    }

    function on_validation_change(nw_id, event) {
        const url = "{% url 'set_network_validation' network='NWID' val='VALUE' %}".replace('NWID', nw_id).replace('VALUE', event.target.checked);
        // TODO add "⌛" after event.target
        $.ajax(url, {success: function() {
            // TODO remove hourglass
            console.log("network", nw_id, "validation is now", event.target.checked);
        } });
    }

    function on_state_change(dv_id, state, event) {
        const url = "{% url 'set_delivery_state' delivery='DVID' state='STATE' %}".replace('DVID', dv_id).replace('STATE', state);
        // TODO add "⌛" after event.target
        $.ajax(url, {success: function() {
            // TODO remove hourglass
            console.log("Success");
        } });
    }

    $(document).ready(() => {
        $("input.visibility").bootstrapToggle();
        {% for mb in memberships %}
        {% with nw=mb.network %}
        //$("#visibility-{{nw.id}}").bootstrapToggle({% if nw.visible %}"on"{% else %}"off"{% endif %});
        {% endwith %}
        {% endfor %}
    })

</script>

{% endblock %}

{% block content %}
<section class="container margetopXl margebot">
    <h1>Administration</h1>

    <div id="staff-admin" class="margetop">
        <h2>Administration globale</h2>
        <ul>
            <li><a href="{% url 'users_html'%}">Gérer les utilisateurs</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Accès à la base de donnée</a></li>
            <li><a href="#" onclick="load_impersonate(event);")>Usurper une identité</a></li>
            <li><a href="{% url 'view_journal' %}">Journal des actions utilisateur</a></li>
            <li> <a href="">Créer un nouveau circuit (TODO)</a> </li>
            {% endif %}
            <li>Messages aux utilisateurs :
                <ul>
                    {% for msg in messages %}
                    <li>
                        {% if msg.network %}
                        <strong>Réseau {{msg.network.name}} :</strong>
                        {% endif %}
                        « {{msg.message|safe}} »
                      <a class='button button-primary compact' href="{% url 'unset_message' id=msg.id %}?next={% url 'admin' %}">effacer</a>
                    </li>
                    {% empty %}
                    <li>Aucun message</li>
                    {% endfor %}
                    <li><a href="{% url 'set_message' %}?next=admin">Poster un nouveau message</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <h2>Administration des réseaux</h2>

    <ul>
        <!-- Pour chaque circuit -->
        {% for mb in memberships %}
        {% with nw=mb.network %}

        <div class="divider acces-rapide couleur-sec">
            <a id="nw-{{nw.id}}"></a>
            <h5 class="center divider couleur-sec">Réseau <span class="couleur-prim">{{nw.name}}</span></h5>

            <h5 class="txt-left couleur-sec margebotS">Configuration</h5>
            <ul>
                <li><a href="{% url 'edit_network_description' network=nw.id %}">Éditer la <strong>description du réseau</strong></a></li>
                <li><a href="{% url 'emails_network' network=nw.id %}"><strong>Annuaire</strong> des membres</a></li>
                <li><strong>Visible</strong> par les non-membres : 
                    <input
                        class="visibility"
                        id="visibility-{{nw.id}}"
                        name="visibility-{{nw.id}}"
                        type="checkbox" 
                        data-toggle="toggle" 
                        data-on="Oui" 
                        data-off="Non"
                        onchange="on_visibility_change({{nw.id}}, event)"
                        {% if nw.visible %}checked="checked"{% endif %}
                    />
                  <span id="visibility-state-{{nw.id}}"></span>
                </li>
                <li>Candidatures <strong>validées</strong> : 
                    <input
                        class="auto-validate"
                        id="auto-validate-{{nw.id}}"
                        name="auto-validate-{{nw.id}}"
                        type="checkbox" 
                        data-toggle="toggle" 
                        data-on="automatiquement" 
                        data-off="par&nbsp;les&nbsp;admins"
                        onchange="on_validation_change({{nw.id}}, event)"
                        {% if nw.auto_validate %}checked="checked"{% endif %}
                    />
                  <span id="visibility-state-{{nw.id}}"></span>
                </li>
                {% with candidates=mb.network.candidates %}
                {% if not candidates %}
                {# pass #}
                {% elif candidates|length < 4 %}
                <li>Candidatures :
                    <a id="nw-{{nw.id}}-candidacies"></a>
                    <ul>
                        {% for u in candidates %}
                        <li>{{u.first_name}} {{u.last_name}} ({{u.email}}):
                            <a href="{% url 'validate_candidacy' user=u.id network=nw.id response='Y' %}?next={% url 'admin' %}#nw-{{nw.id}}-candidacies">Accepter</a>
                            /
                            <a href="{% url 'validate_candidacy' user=u.id network=nw.id response='N' %}?next={% url 'admin' %}#nw-{{nw.id}}-candidacies">Refuser</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'manage_candidacies' %}"><strong>{{candidates|length}} candidatures</strong> à valider</a>.</li>
                {% endif %}
                {% endwith %}
            </ul>


            <h5 class="txt-left couleur-sec margebotS">Commandes</h5>
            <ul>
                <li><a href="{% url 'list_delivery_models' network=nw.id %}">Créer une <strong>nouvelle commande</strong>.</a></li>
                {% if mb.has_frozen_deliveries  %}
                {% endif %}
                <li>
                    Qui a commandé où ? Voir <strong>
                    <a href="{% url 'all_deliveries_html' network=nw.id states='BCDE' %}">en ligne</a>,
                    <a href="{% url 'all_deliveries_latex' network=nw.id states='BCDE' %}">en PDF</a>
                    </strong>.
                </li>
                <li><a href="{% url 'invoice_mail_form' network=nw.id %}">Envoyer un <strong>mail de rappel</strong> pour les commandes gelées</a>.</li>
                <li><a href="{% url 'archived_deliveries' network=nw.id %}">Voir les commandes <strong>archivées</strong></a>.</li>
            </ul>

            {% for dv in nw.active_deliveries %}
            <div class="commande-cours">
                <p><strong>
                    {% if dv.freeze_date %}
                    {{dv.freeze_date|date:"SHORT_DATE_FORMAT"}} | 
                    {% elif dv.distribution_date %}
                    {{dv.distribution_date|date:"SHORT_DATE_FORMAT"}} | 
                    {% endif %}
                    {{dv.name }}
                    {% if dv.producer %}
                    - {{dv.producer.first_name}} {{dv.producer.last_name}}
                    {% endif %}
                </strong> | Statut : 
                <!--<i>{{dv.state_name}}</i>-->
                  <select 
                    id="dv-{{dv.id}}-state" 
                    name="dv-{{dv.id}}-state" 
                    class="button admin" 
                    onchange="on_state_change({{dv.id}}, event.target.value)">
                    {% for key, name in dv.STATE_CHOICES.items %}
                    <option value="{{key}}" {% if key == dv.state %}selected="selected"{% endif %}>{{name}}</option>
                    {% endfor %}
                  </select>

                </p>
                <div>
                    <a class="button modif" href="{% url 'edit_delivery_products' delivery=dv.id %}">Modifier la commande</a>
                    <a class="button modif" href="{% url 'edit_delivery_purchases' delivery=dv.id %}">Modifier les achats</a>
                    <a class="button modif" onclick="rename_delivery({{dv.id}}, '{{dv.name|escapejs}}')">Renommer</a>
                </div>
                <div>
                    <a class="button admin" href="{% url 'view_delivery_purchases_html' delivery=dv.id %}">Voir en ligne</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_xlsx' delivery=dv.id %}">MS-Excel</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_latex' delivery=dv.id %}">Tableau PDF</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_cards' delivery=dv.id %}">Cartes PDF</a>
                </div>
            </div>
            {% endfor %}
            <!-- end commande-->

        </div>
        <!-- end circuit -->
        {% endwith %}
        {% endfor %}
    </ul>
</section>


{% endblock %}