{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
{% endblock %}

{% block content %}
<section class="container margetopXl margebot">
    <h1>Administration <span class="h2-like couleur-prim">{{network.name}}</span> </h1>

    <ul>
      <li class="circuit"><a href="/nw-xx">Editer la présentation du circuit</a></li>
      <li class="circuit"><a href="#">Créer un nouveau sous groupe</a> </li>
    </ul>

    <h2 class="couleur-sec">Les membres</h2>
    <ul class="circuit-admin-list">
      <li class="circuit"><a href="/nw-xx">Modifier la liste des membres</a></li>
      <li>Candidatures</li>
      <ul>
        {% for mb in xxx %}
        <li><strong>{{mb.user.first_name}} {{mb.user.last_name}}</strong> | {{mb.user.email}} 
            <a href="{% url 'validate_candidacy' candidacy=mb.id response='Y'%}?next={% url 'admin_circuit_advanced' network=network.id %}" 
               class="button retour candidature">Accepter</a>
            <a href="{% url 'validate_candidacy' candidacy=mb.id response='N'%}?next={% url 'admin_circuit_advanced' network=network.id %}" 
               class="button modif candidature">Refuser</a></li>
        {% endfor %}
      </ul>
    </ul>

    <h2 class="couleur-sec">Commandes</h2>
    <ul>
      <li> <a class="couleur-prim" href="#">Créer une nouvelle commande</a> </li>
    </ul>

    <h5 class="center divider couleur-sec">Commandes en cours<a href="#" title="Aide sur les statuts" class="infobulle">ℹ</a></h5>


    <div class="row cent commande-statut">
      <div class="col" style="text-align:right;">
        <a class="lienliste" href="administration-commande.html">01/01/1970 | Produit - Producteur</a>
      </div>
      <div class="col">
        <select type="select" name="state" value="state">
          <option value="A">En préparation</span></option>
          <option value="B">Ouverte</option>
          <option value="C">Admin</option>
          <option value="D">Gelée</option>
          <option value="E">Régularisation</option>
          <option value="F">Terminée</option>
        </select>
      </div>
    </div>


    <div class="row cent commande-statut">
      <div class="col" style="text-align:right;">
        <a class="lienliste" href="administration-commande.html">01/01/1970 | Produit plus long - Producteur long</a>
      </div>
      <div class="col">
        <select type="select" name="state" value="state">
          <option value="A">En préparation</span></option>
          <option value="B">Ouverte</option>
          <option value="C">Admin</option>
          <option value="D">Gelée</option>
          <option value="E">Régularisation</option>
          <option value="F">Terminée</option>
        </select>
      </div>
    </div>


    <ul class="circuit-admin-list">
      <li class=""> <a href="#">Voir la synthèse des commandes en cours</a> <a href="" class="button retour candidature">PDF</a></li>
      <li class="circuit"> <a href="#">Envoyer un rappel mail pour les commandes gelées</a> </li>
      <li class="circuit"> <a href="#">Voir les commandes archivées</a> </li>
    </ul>



  </section>


  <div class="infobulle-content">
    <div class="container">
      <h3>Aide sur les statuts des commandes</h3>
      <strong>En préparation :</strong> non visible par les membres<br>
      <strong>Ouverte :</strong> visible par les membres - commandes possible<br>
      <strong>Admins :</strong> <br>
      <strong>Gelée :</strong> <br>
      <strong>Régularisation :</strong> <br>
      <strong>Terminée :</strong> <br>
    </div>
  </div>
{% endblock %}