{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}

<script type='text/javascript'>
    /* TODO: only load userids when the <select> widget opens
     */
    async function load_impersonate(event) {
        if($("#select-impersonate")[0]) {
            // already loaded
            return;
        }
        const response = await fetch("{% url 'users_json' %}");
        const json = await response.json();
        const widget = 
            `&nbsp;<select id="select-impersonate" title="Membres…" data-live-search="true">` +
            json.users
                .map(u => `<option value=${u.id}>${u.first_name} ${u.last_name} — ${u.email}</option>`)
                .join("\n") +
            `</select>`;
        $(event.target).append(widget);
        const select = $("#select-impersonate");
        select.selectpicker();
        setTimeout(() => $("#select-impersonate").selectpicker("toggle"), 0);
        select.on("change", (event) => {
            alert("TODO impersonate user #"+event.target.value);
        });
    }

    function rename_delivery(dv_id, dv_name) {
        var new_name = window.prompt(`Renommer la commande ${dv_name} :`, dv_name);
        var url = "{% url 'set_delivery_name' delivery='DVID' name='NAME' %}".replace('DVID', dv_id).replace('NAME', new_name);
        if (new_name) {
            $.ajax(url, {success: function() { window.location.reload(); }});
        }
    }

</script>

{% endblock %}

{% block content %}
<section class="container margetopXl margebot">
    <h1>Administration</h1>

    <div id="staff-admin" class="margetop">
        <h2>Administration globale</h2>
        <ul>
            <li><a href="{% url 'users_html'%}">Gérer les utilisateurs</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Accès à la base de donnée</a></li>
            <li><a href="#" onclick="load_impersonate(event);")>Usurper une identité</a></li>
            <li><a href="{% url 'view_journal' %}">Journal des actions utilisateur</a></li>
            <li> <a href="">Créer un nouveau circuit (TODO)</a> </li>
            {% endif %}
            <li>Messages aux utilisateurs :
                <ul>
                    {% for msg in messages %}
                    <li>
                        {% if msg.network %}
                        <strong>Réseau {{msg.network.name}} :</strong>
                        {% endif %}
                        « {{msg.message|safe}} »
                      <a class='button button-primary compact' href="{% url 'unset_message' id=msg.id %}?next={% url 'admin' %}">effacer</a>
                    </li>
                    {% empty %}
                    <li>Aucun message</li>
                    {% endfor %}
                    <li><a href="{% url 'set_message' %}?next=admin">Poster un nouveau message</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <h2>Administration des circuits</h2>

    <ul>
        <!-- Pour chaque circuit -->
        {% for mb in memberships %}
        {% with nw=mb.network %}
        <div class="divider acces-rapide couleur-sec">
            <a id="nw-{{nw.id}}"></a>
            <h5 class="center divider couleur-sec">Réseau <span class="couleur-prim">{{nw.name}}</span></h5>
            <ul>
                <li class="circuit"><a href="{% url 'network_admin' network=nw.id %}" href="#nw-{{mb.network.id}}">
                    <strong>Administration avancée</strong> de {{nw.name}}
                </a></li>
                <li><a href="{% url 'emails_network' network=nw.id %}"><strong>Annuaire</strong> des membres</a></li>
                {% if mb.has_frozen_deliveries  %}
                <li><a href="{% url 'invoice_mail_form' network=nw.id %}"><strong>Écrire</strong> aux acheteurs de commandes gelées</a></li>
                {% endif %}
                <li><a href="{% url 'list_delivery_models' network=nw.id %}"><strong>Nouvelle</strong> commande</a></li>
                {% with candidates=mb.network.candidates %}
                {% if candidates %}
                <li>Candidatures :
                    <a id="nw-{{nw.id}}-candidacies"></a>
                    <ul>
                        {% for u in candidates %}
                        <li>{{u.first_name}} {{u.last_name}} ({{u.email}}):
                            <a href="{% url 'validate_candidacy' user=u.id network=nw.id response='Y' %}?next={% url 'admin' %}#nw-{{nw.id}}-candidacies">Accepter</a>
                            /
                            <a href="{% url 'validate_candidacy' user=u.id network=nw.id response='N' %}?next={% url 'admin' %}#nw-{{nw.id}}-candidacies">Refuser</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% endwith %}
            </ul>

            <!-- Pour chaque commande -->
            {% for dv in nw.active_deliveries %}

            {% if forloop.first %}
            <h5 class="txt-left couleur-sec margebotS">Commandes en cours</h5>
            {% endif %}

            <div class="commande-cours">
                <p><strong>
                    {% if dv.freeze_date %}
                    {{dv.freeze_date|date:"SHORT_DATE_FORMAT"}} | 
                    {% elif dv.distribution_date %}
                    {{dv.distribution_date|date:"SHORT_DATE_FORMAT"}} | 
                    {% endif %}
                    {{dv.name }}
                    {% if dv.producer %}
                    - {{dv.producer.first_name}} {{dv.producer.last_name}}
                    {% endif %}
                </strong> | Statut : <i>{{dv.state_name}}</i></p>
                <div>
                    <a class="button modif" href="{% url 'edit_delivery_products' delivery=dv.id %}">Modifier la commande</a>
                    <a class="button modif" href="{% url 'edit_delivery_purchases' delivery=dv.id %}">Modifier les achats</a>
                    <a class="button modif" onclick="rename_delivery({{dv.id}}, '{{dv.name|escapejs}}')">Renommer</a>
                </div>
                <div>
                    <a class="button admin" href="{% url 'view_delivery_purchases_html' delivery=dv.id %}">Voir en ligne</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_xlsx' delivery=dv.id %}">MS-Excel</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_latex' delivery=dv.id %}">Tableau PDF</a>
                    <a class="button admin" href="{% url 'view_delivery_purchases_cards' delivery=dv.id %}">Cartes PDF</a>
                </div>
            </div>
            {% empty %}
            Aucune commande en cours
            {% endfor %}
            <!-- end commande-->

        </div>
        <!-- end circuit -->
        {% endwith %}
        {% endfor %}
    </ul>
</section>


{% endblock %}