{% extends 'layout.html' %}
{% load floreal_filters %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}

<h2>Livraisons archivées du réseau {{nw.name}}</h2>
<ul>
    <li><a href="{% url 'network_admin' network=nw.id %}">Retour à l'administration du réseau {{nw.name}}</a></li>
    <li><a href="{% url 'index' %}">Retour à la page principale</a><br/></li>
</ul>
<ul>
    {% for dv in deliveries %}
    <li><a href="{% url 'edit_delivery' delivery=dv.id %}">{{dv.name}} <img src="{% static 'images/edit.png' %}"/></a>
        ({{dv.state_name}})</li>
    {% empty %}
    <li>(aucune commande)</li>
    {% endfor %}
</ul>

{% if empty_deliveries %}
<h3>Effacer les commandes archivées et vides</h3>
<ul>
    <li><b><a href="{% url 'delete_all_archived_deliveries' network=nw.id %}">Toutes ✘</a></b></li>
    {% for dv in empty_deliveries %}
    <li><a href="{% url 'delete_archived_delivery' delivery=dv.id %}">{{dv.name}} ✘</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}
