{% extends 'layout.html' %}
{% load floreal_filters %}
{% load static %}

{% block head %}
<script type='text/javascript'>
async function unarchive(dv_id) {
   const set_state = "{% url 'set_delivery_state' delivery=9999 state=Delivery.FROZEN %}".replace('9999', dv_id);
   const edit = "{% url 'view_delivery_purchases_html' delivery=9999 %}".replace(9999, dv_id);
   await fetch(set_state);
   window.location.href = edit;
   return false;
}
</script>
{% endblock head %}


{% block content %}
<section class="container margetopXl margebot">

<h2>Livraisons archivées du réseau {{nw.name}}</h2>
<ul>
    {% for dv in deliveries %}
    <li>
        <a
           href="{% url 'view_delivery_purchases_html' delivery=dv.id %}"
           title="Voir la commande"
           data-toggle="tooltip">
        {% if dv.distribution_date %}
          <span class="couleur-prim">{{dv.distribution_date|short_date}} | </span>
        {% endif %}
        {{dv.name}} 
        </a>
        &nbsp;
        <a class='button button-primary compact'
           onclick="return unarchive({{dv.id}})"
           title="Remette la commande {{dv.name}} en état « gelé »" 
           data-toggle="tooltip">
           Désarchiver
        </a>
    </li>
    {% empty %}
    <li>(aucune commande terminée)</li>
    {% endfor %}
</ul>

{% if empty_deliveries %}
<h3>Effacer les commandes archivées et vides</h3>
<ul>
    <li><b><a href="{% url 'delete_all_archived_deliveries' network=nw.id %}">Toutes ✘</a></b></li>
    {% for dv in empty_deliveries %}
    <li><a href="{% url 'delete_archived_delivery' delivery=dv.id %}">{{dv.name}} ✘</a></li>
    {% endfor %}
</ul>
{% endif %}
</section>
{% endblock content %}
