{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}
{% block head %}
  <style type="text/css">
     .line {
       white-space: nowrap;
     }
     .legend {
       display: inline-block;
       width: 300px;
       white-space: nowrap;
     }
     .bar {
       display: inline-block;
       background-color: green;
       height: 30px;
     }
  </style>
  <script type='text/javascript'>
  const max = {{agg.total__max}};
  const total = {{agg.total__sum}};
  $(document).ready(() => {
    $(".bar").each((i, e) => {
      const val = Number($(e).text().replace(/[^.0-9]/, ""));
      $(e).css("width", val / max * 50 + "vw");
    })
    $(".total").text(Number(total.toFixed(2)).toLocaleString() + "€")
  });
  </script>
{% endblock %}
{% block content %}
  <section class="container margetopXl margebot">
  <h1>Le Palmarès :-) <img src="{% static 'images/Mr_Monopoly.gif' %}"/></h1>
  <p>Depuis 2012, <strong><span class="total"></span></strong> de commandes ont été passées par ce logiciel !
    Merci à nos mangeurs, par ordre d'appétit décroissant :</p>
  {% for item in bestof %}
  <div class="line">
  <div class="legend">#{{forloop.counter}} {{item.user.first_name}} {{item.user.last_name}}:</div><div class="bar">{{item.total|price}}</div>
  </div>
  {% endfor %}
  <div><a class="button retour" href="javascript:history.back()">Retour</a></div>
  </section>
{% endblock %}
