{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}


{% block head %}
<style type="text/css">
  #products-table {
    width: 100%;
  }

  #products-table td,
  #products-table th {
    border: none;
  }

  #products-table .row-produit {
    border-top: 1px solid #733A00;
  }

  #products-table th {
    font-family: 'oswald', sans-serif;
    text-align: center;
    color: #733A00;
    min-width: 20%;
  }

  #products-table td {
    text-align: center;
  }

  #products-table tr.texte-produit td {
    text-align: left;
    padding: 0 2rem 2rem;
  }

  #products-table .product-image {
    margin: 0px;
    padding: 0px;
  }

  #products-table td.product-unit {
    text-align: left;
  }

  #products-table tr.total {
    background: #ED5C01;
    color: #fff;
    font-family: 'oswald', sans-serif;
  }

  #products-table tr.total-padding {
    font-family: 'oswald', sans-serif;
  }

  #products-table td.unit-price span {
    font-weight: 500;
  }

  #products-table td.price {
    font-family: 'oswald', sans-serif;
    color: #ED5C01;
  }

  #products-table td.quantity {
    position: relative;
    min-width: 3rem;
    max-width: 3rem;
    padding: 0px;
  }

  #products-table td.quantity input {
    border: none !important;
    box-shadow: none;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'oswald', sans-serif;
    line-height: 1.65;
    display: block;
    padding: 0px;
    margin: 0px !important;
    padding-left: 20px;
    position: relative;
    top: 2rem;
    z-index: 1;
    text-align: right;
    color: #ED5C01;
  }

  #products-table td.quantity input:focus {
    outline: 0;
  }

  #products-table td.product-image img {
    object-fit: contain;
    object-position: center;
    width: 93px;
    height: 93px;
  }
  .product-name {
    font-weight: 500;
  }
  .quantity-nav {
    position: relative;
    top: -1.8rem;
    height: 42px;
    z-index: 0;
    left: 10px;
    z-index: 2;
    width: 1px;
  }

  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: #fff;
    background-color: #84B818;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif !important;
    line-height: 2.1rem;
    font-weight: 500;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-radius: 50% 50% 0% 0%;
  }

  .quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
    border-radius: 0% 0% 50% 50%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield !important;
  }

  .delivery-image-description {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 580px) {
    .row-produit {
      display: block;
    }
    .row-produit td, #products-table td {
      display: block;
      text-align: left;
    }
    #products-table .row-produit td.quantity, #products-table .row-produit td.product-unit {
      display: inline-block;
    }
    #products-table td.quantity {
      max-width: 7rem;
    }
    .quantity-nav {
      left: 4rem;
      z-index: 2;
      width: 1px;
    }
    tr.total {
      display: block;
      width:100%;
    }
    tr.legende {
      display: none;
    }
    #products-table tr.texte-produit {
      display: block;
    max-width: 100%;
  }

}

</style>
 
<script type='text/javascript'>

  let DATA;
  let PRODUCTS = {}; // id -> product record

  /* Load products, delivery, and saved purchases description */
  function load_purchases() {
    return fetch("{% url 'user_purchases_json' delivery=delivery.id %}")
    .then((res) => res.json())
    .then((json) => {
      DATA = json;
      //SOME_PACKAGED = DATA.products.find(pd => pd.quantity_per_package !== null) !== undefined;
      //SOME_WEIGHTED = DATA.products.find(pd => pd.unit_weight !== 0) !== undefined;
      DATA.products.forEach(pd => { PRODUCTS[pd.id] = pd; })
    });
  }

  /* TODO: add multiplication/pluralization when applicable. */
  function render_unit(u) { 
    const k=u[0];
    if("0" <= k && k <= "9") {
      return "×" + u;
    } else {
      return u; 
    }
  }

  function render_date_short_month(txt) {
    return new Intl.DateTimeFormat('fr', {day: 'numeric', month: 'short'}).format(new Date(txt));
  }

  function render_date_long_month(txt) {
    return new Intl.DateTimeFormat('fr', {day: 'numeric', month: 'long'}).format(new Date(txt));
  }

  /* Reflect the content of `DATA` into widgets. */
  function render() {
    $(".delivery-name").text(DATA.delivery.name);
    $("#delivery-id").val(DATA.delivery.id);
    $(".network-name").text(DATA.network.name);
    $(".user-name").text(DATA.user.first_name + " " + DATA.user.last_name);
    const maybe_prod = DATA.producer || {};
    if(maybe_prod.description){
      $(".delivery-description").html(DATA.producer.description);
    } else if (DATA.delivery.description) {
      $(".delivery-description").html(DATA.delivery.description);
    }
    if(maybe_prod.image_description) {
      $(".delivery-image-description").attr("src", DATA.producer.image_description);
    } else if(DATA.network.image_description) {
      $(".delivery-image-description").attr("src", DATA.network.image_description);
    }
    if(DATA.producer) {
      $(".producer-name").text(DATA.producer.name);
    } else {
      $(".if-producer").remove();
    }
    if(DATA.delivery.freeze) {
      $(".freeze-date").text(render_date_long_month(DATA.delivery.freeze));
    } else {
      $(".if-freeze-date").remove();
    }
    if(DATA.delivery.distribution) {
      const dd = render_date_short_month(DATA.delivery.distribution);
      $(".distribution-date")
        .text(dd)
        .attr("title", "Distribution le "+dd)
        .attr("data-toggle", "tooltip")
    } else {
      $(".if-distribution-date").remove();
    }

    let rows = ``;
    DATA.products.forEach((pd, i) => {
      const pc = pd.purchase;
      //const parity = i%2 ? "odd" : "even";
      let input;
      if (pc.max_quantity === 0) {
        // After all, don't show out-of-stock products at all
        /* 
        rows += `
          <tr id="row-${pd.id}" class="row-produit">
            <td class="product-image"></td>
            <td class="product-name">${pd.name}</td>
            <td colspan="5" class="out-of-stock">(Produit épuisé)</td>
          </tr>`;
        */
      } else {
        const maxq = pd.purchase.max_quantity;
        rows += `
            <tr id="row-${pd.id}" class="row-produit" data-toggle="tooltip" 
              ${maxq == null ? '' : 'title="Reste ' + maxq + ' ' +pd.unit+'"'}>
              <td colspan="2" class="product-name">${pd.name}</td>
              <td class="quantity">
                <input
                  class="ordered_quantity"
                  maxlength="64"
                  name="pd-${pd.id}"
                  type="number"
                  step="${pd.quantum}"
                  min="0"
                  max="${pd.purchase.max_quantity}"
                  value="${pd.purchase.quantity}"
                />
                <div class="quantity-nav">
                  <div class="quantity-button quantity-up">+</div>
                  <div class="quantity-button quantity-down">-</div>
                </div>
                </td>
              <td class="product-unit"> ${render_unit(pd.unit)}</td>
              <td class="unit-price">${pd.price.toFixed(2)}&nbsp;€ / ${pd.unit}</td>
              <td class="price">${pc.price.toFixed(2)}&nbsp;€</td>
            </tr>`;
        if (pd.description) rows += `
            <tr class="texte-produit">
            {# If there's a description, the image occupies both rows. #}
              <td class="product-image">
                ${pd.image ? '<img src="' + pd.image + '"/>' : ''}
              </td>
              <td colspan="5">
                ${pd.description}
              </td>
            </tr>`;
      }
    });
    $("#products-table tbody").append(rows);

    // TODO remove image column if there is no image.

    /* Now let's wire the up/down buttons with the matching inputs. */
    $('.row-produit').each(function () {
      const row = $(this);
      const pd_id = Number(row.attr('id').split("-")[1]);
      const input = row.find('input[type="number"]');
      const max = input.attr('max');
      const quantum = PRODUCTS[pd_id].quantum;
      row.find('.quantity-up').click(function () {
        const oldValue = parseFloat(input.val());
        const newValue = (oldValue >= max) ? oldValue : oldValue + quantum;
        row.find("input").val(newValue);
        row.find("input").trigger("change");
      });
      row.find('.quantity-down').click(function () {
        const oldValue = parseFloat(input.val());
        const newValue = oldValue < quantum ? oldValue : oldValue - quantum;
        row.find("input").val(newValue);
        row.find("input").trigger("change");
      });
    });
    $(".quantity input").change(recompute);
    recompute();
  }

  function recompute(ev) {
    const pluralize_unit = function(input) {
      const val  = $(input);
      const row  = $(input.closest("tr"))
      const unit = row.find(".product-unit");
      const pd_id = row.attr("id").split("-")[1];
      let text = null;
      if(Number(val.val()) >= 2) {
        text = PRODUCTS[pd_id].plurals.unit;
        // console.log("Plural", val.val(), text);
      } else {
        text = PRODUCTS[pd_id].unit;
        // console.log("Singular", val.val(), text);
      }
      unit.text(text);
    }

    if(ev) {
      pluralize_unit(ev.target);
    } else {
      $("#products-table input.ordered_quantity").each((_, e) => pluralize_unit(e));
    }
    let total_price = 0;
    //let total_weight = 0;
    $(".row-produit").each(function (i, e) {
      const row = $(e);
      const id = Number(row.attr('id').split("-")[1]);
      const q = Number(row.find("input").val());
      if(isNaN(q)) { return; /* Produit épuisé. */ }
      const pd = PRODUCTS[id];
      const pc = pd.purchase;
      const price = q * pd.price;
      row.find(".price").text(price.toFixed(2));
      total_price += price;
      //total_weight += q * pd.unit_weight;
    });
    $(".total_price").text(total_price.toFixed(2));
    //$(".total_weight").text(total_weight.toFixed(0));
  }

  function reset_order(id) {
    $(`[name=pd-${id}]`).val(0);
    recompute();
  }

  function confirm_cancel() {
    if (confirm("Annuler les modifications de la commande ?")) {
      window.history.back();
    }
  }
  $(document).ready(() => {
    load_purchases().then(render);
  });
</script>
{% endblock %}


{% block content %}
<section class="container margetopXl margebot">
  <h1 class=" h2-like couleur-prim"><span class='distribution-date'>—</span> | <span class='network-name'>...</span> | <span class='delivery-name'>...</span></h1>
  {% if preview %}<h2>(Prévisualisation)</h2>{% endif %}
  <p class="if-freeze-date">Commandez avant le <span class="freeze-date">...</span>.</p>

  <div class="container slim margetop margebot">

    <img class="delivery-image-description"/>
    <p class="commandes-detail-intro delivery-description"></p>

  </div>

  <div class="container">

    <form method="POST">

      <table id="products-table">
        <tbody>

          <tr class="total">
            <td colspan="4"></td>
            <td class="total-padding">Total</td>
            <td class="total_cell"><span class="total_price">0.00</span>&nbsp;€</td>
          </tr>
          
          <tr class="legende">
            <th colspan="2">Produit</th>
            <th colspan="2">Quantité</th>
            <th>Prix unitaire</th>
            <th>Sous-Total</th>
          </tr>


        </tbody>
      </table>

      <div class="row container xslim">
        {% if preview %}
        <a class="button retour" href="{% url 'admin' %}#nw-{{delivery.network_id}}">Valider la prévisualisation</a>
        <a class="button retour" href="{% url 'edit_delivery_products' delivery=delivery.id %}">Retour à l'édition</a>
        {% else %}
        <input class="button-primary" type="submit" value="Valider la commande">
        <a class="button retour" href="javascript:confirm_cancel()">Retour</a>
        {% endif %}
      </div>
      <input type='hidden' id='delivery-id' name='delivery-id' value='...' />
      {% csrf_token %}
    </form>
  </div>

</section>
{% endblock %}