{% extends 'layout_narrow.html' %}

{% block head %}
<!--715 30 30 0 0-->
<style type="text/css">
    #content { padding: 50px 70px 0px 50px; width: 625px; }
</style>
{% endblock %}

{% block content %}

<h1>Charte des Circuits Courts Caracole</h1>

<p>
    Caracole soutient l'éclosion et le développement de circuits courts, en partageant son expérience d'organisation,
    en offrant le temps et l'énergie de ses bénévoles,
    en diffusant à ses membres les opportunités d'intégrer un circuit,
    en proposant un outil de prise de commandes par internet.
</p>

<h3>Les circuits courts Caracole aspirent à</h3>
<ul>
    <li>développer le lien humain : entre consommateurs, entre producteurs, entre consommateurs et producteurs,</li>
    <li>garantir, entre autres par un juste prix, une certaine sérénité à des producteurs soucieux de qualité
        alimentaire et environnementale,</li>
    <li>permettre un approvisionnement en produits de qualité, de façon écologiquement soutenable, et promouvoir
        la démarche auprès des citoyens et des institutions.</li>
</ul>

<h3>Engagements de tous</h3>
<p>
    Chaque circuit court est auto-géré.
    Tous ses membres s'investissent, à la mesure de leurs moyens, dans son fonctionnement.
    Ils ont à cœur la convivialité humaine autant que l'efficacité.
</p>
<p>
    Le lien entre producteurs et consommateurs est développé par une communication régulière,
    par des visites, si possible par une participation aux travaux des champs ou par toute autre forme de solidarité
    qui semble pertinente à tous.
</p>
<p>
    L'engagement au respect d'un juste prix est réciproque : les producteurs ne font pas subir aux consommateurs
    les effets d'une montée spéculative des prix.
</p>
<p>
    Les règles de droit (du travail et fiscal) s'imposent à tous, producteurs et consommateurs.
</p>
<p>
    Le choix des producteurs repose sur plusieurs critères, évalués par les futurs consommateurs
    et par la commission circuits courts de Caracole, après rencontre avec les producteurs :
</p>
<ul>
    <li>qualité des produits,</li>
    <li>impact écologique du mode de production, de transport, etc.</li>
    <li>impact humain, vis-à-vis de la société, des salariés, des partenaires,</li>
    <li>qualité humaine de la relation avec les producteurs,</li>
    <li>cohérence de l'ensemble des réseaux de producteurs.</li>
</ul>

<p>
    Les circuits peuvent essaimer en groupes indépendants, pour accueillir plus de membres tout en restant
    à une échelle conviviale, pour offrir plus de visibilité et de reproductibilité à notre démarche;
    un gros circuit peut être scindé en sous-groupes coordonnés, pour partager, par exemple, le transport d'une commande.
</p>

<h3>Organisation</h3>

<p>
    Au-delà des principes d'auto-gestion et de participation de tous, chaque circuit est libre de son organisation.
    Toutefois, une trame initiale est suggérée, à la lumière de l'expérience de Caracole. Un circuit a besoin :
</p>

<ul>
    <li>de producteurs et de consommateurs désireux de faire vivre un circuit court ensemble, <br/>
        et se reconnaissant dans les valeurs de Caracole,</li>
    <li>d'au moins deux consommateurs responsables, qui s'assurent que chaque tâche est bien prise en charge, <br/>
        si possible pas toujours par les mêmes personnes,</li>
    <li>d'un ou plusieurs référents, qui assurent plus particulièrement la qualité de la communication <br/>
        et de la coordination entre consommateurs et producteurs,</li>
    <li>d'un lieu et de modalités de distribution.</li>
</ul>
{% endblock %}