{% extends 'layout_semi_wide.html' %}
{% load floreal_filters %}
{% load static %}
{% load django_markdown %}

{% block head %}
  <script type='text/javascript'>
  // <![CDATA[
    {# TODO: refactor in objects #}
    var PRODUCTS = [{% for pd in products %}
      {id: {{pd.id}}, quantum: {{pd.quantum|default_if_none:0}}, left: {{pd.left|default_if_none:"null"}}, weight: {{pd.unit_weight}}, unit: "{{pd.unit|escapejs}}"},{% endfor %}
    ];
    var PURCHASES = { {% for pc in purchases %}{{pc.product.id}}: {{pc.quantity}}, {% endfor %} };


    /* update per-line totals as well as delivery total */
    function update_weight_prices_and_errors() {
      var total_price = 0;
      var total_weight = 0;
      for(var i=0; i<PRODUCTS.length; i++) {
        var pd = PRODUCTS[i];
        if(pd.unavailable) { continue; }
        var ordered = parseFloat($("#pd"+pd.id+"-ordered_quantity").attr("value"));
        var unit_price = parseFloat($("#pd"+pd.id+"-unit_price").text().replace(',','.'));
        var price = ordered * unit_price;
        $("#pd"+pd.id+"-ordered_price").text(price.toFixed(2));
        total_price  += price;
        total_weight += ordered * pd.weight;
        console.log(pd.id + " -> " + ordered + " * " + unit_price + " = " + price + " -> Σ=" + total_price);
        check_quantum(pd);
      }
      $("#total_price").text(total_price.toFixed(2));
      $("#total_weight").text(total_weight.toFixed(0));
      // Prevent submission if there's at least one quantum error
      $("input[type=submit]").prop('disabled', $(".quantum-error").length > 0);
    }

    function reset_order(id) {
      $("#pd"+id+"-ordered_quantity").attr("value", "0");
      update_weight_prices_and_errors();
    }

    /* If there is an ordering quantum, and the order isn't a multiple thereof, display a warning and
     * disable submission. Otherwise, remove any existing quantum error message. */
    function check_quantum(pd) {
      var msgid = "pd"+pd.id+"-quantum-error";
      if(pd.unavailable) {
        return true;
      } if(pd.quantum) {
        var ordered = Number($("#pd"+pd.id+"-ordered_quantity").val());
        var reminder = Math.abs(ordered % pd.quantum)
        var EPSILON = 1e-9;
        if(reminder <= EPSILON || reminder >= pd.quantum-EPSILON ) {
          // Test allows an EPSILON error, because of double rounding errors wrt powers of 5
          // If they're multiple, remove the message (nothing happens if there weren't one)
          $("#"+msgid).remove();
          return true; // no error
        } else if($("#"+msgid).length == 0) { // A message is needed and there is none
          $("#row-"+pd.id).after("<tr id='"+msgid+"' class='quantum-error'><td colspan=8>"+
            "Ce produit doit être commandé par multiples de "+pd.quantum+" "+pd.unit);
          return false; // error
        } else { // message needed, but already there
          return false; // error
        }
      } else {
        return true; // no quantum => no error
      }
    }

    $(document).ready(function() {
      /* Set purchases */
      for(id in PURCHASES) {
        if(PURCHASES.hasOwnProperty(id)) {
          $("#pd"+id+"-ordered_quantity").attr("value", PURCHASES[id]);
        }
      }
      for(i in PRODUCTS){
        var pd = PRODUCTS[i];
        if(pd.left !== null) {
          /* if there's a max quantity on a product, prevent from ordering more than that in addition to what's ordered. */
          var purchased = PURCHASES[pd.id] || 0;
          var max = pd.left + purchased;
          if(max === 0) {
            console.log("Produit épuisé:", pd);
            $("#row-"+pd.id+" td:nth-child(n+3)").remove();
            $("#row-"+pd.id).append("<td colspan=6 class='unavailable'>(épuisé)</td>");
            pd.unavailable = true;
          } else {
            $("#pd"+pd.id+"-ordered_quantity").attr("max", max);
          }
          // var name = $("#row-"+pd.id+" .product-name").text();
          // console.log(name, "left=", pd.left, "purchased=", purchased, "max=", pd.left+purchased, $("#pd"+pd.id+"-ordered_quantity")[0]);
        } 
      }
      $(":input").bind('keyup mouseup', update_weight_prices_and_errors);
      update_weight_prices_and_errors();
    })
  // ]]>
  </script>
  <style type="text/css">
    .total_cell { font-weight: bold; }
    .product-name { text-align: right; }
    .product-unit { text-align: left; }
    .unit-price { padding-left: 10px; }
    .unavailable { text-align: center !important; font-style: italic; }
    #delivery-table { border: 1px solid #811305; font-size: larger; }
    #delivery-table th { text-align: right; background-color: #fff0e0; }
    #delivery-table td { text-align: left; }
    #products-table { white-space: nowrap; font-size: medium; border: 1px solid #811305; margin-left: auto; margin-right: auto;}
    #products-table th { text-align: center; border: 1px solid #811305;}
    #products-table tr.total  { font-size: large; background-color: white !important; }
    #products-table tr.total th { text-align: right; border: none; }
    #products-table td { text-align: left; }
    #products-table td.product-name { text-align: right; }
    #products-table td.place { text-align: center; }
    #products-table td.reset { text-align: center; }
    #products-table tr:nth-child(4n) {background-color: #fff0e0; }
    #products-table tr:nth-child(4n+1) {background-color: #fff0e0; }
    #products-table tr.quantum-error td { font-weight: bold; background-color: red; color: white; }
    input[type=number] { width: 50px; font-size: large; }
    input.quantity { text-align: right; }
    input[type=submit]:disabled { background-color: gray; border: 5px outset lightgray; }
    #products-table td.description { text-align: center; }
    #products-table td.description div { text-align: left; display: inline-block; font-style: italic; font-size: small; white-space: pre-wrap; }
    #dv-description {white-space: pre-wrap; }
  </style>
{% endblock %}

{% block content %}
<form method="POST">
    <table id="delivery-table">
      <tr>
        <th>Livraison :</th>
        <td>{{delivery.network.name}} / {{delivery.name}}</td>
      </tr>
      <tr>
        <th>Sous-groupe :</th>
        <td>{{subgroup.name}}</td>
      </tr>
      <tr>
        <th>Membre :</th>
        <td>{{user.first_name}} {{user.last_name}}</td>
      </tr>
    </table>
    {% if delivery.description %}
    <div style="height: 20px;"></div>
    <p id="dv-description">{{delivery.description|markdown}}</p>
    <div style="height: 20px;"></div>
    {% else %}
    <div style="height: 20px;"></div>
    {% endif %}
    <table id="products-table">
        <tr>
            <th>#</th>
            <th>Produit</th>
            <th colspan="2">Quantité</th>
            <th>Prix unitaire</th>
            <th>Prix</th>
            <th>Cartons</th>
            <th>Effacer ?</th>
        </tr>
        {% for pd in products %}
        <tr id="row-{{pd.id}}">
          <td class="place">{{forloop.counter}}</td>
          <td class="product-name">{{pd.name}}</td>
          <td class="quantity"><input class="quantity" id="pd{{pd.id}}-ordered_quantity" maxlength="64" name="pd{{pd.id}}" type="number" step="{{pd.quantum|default_if_none:1}}" min="0"
            {%if left is not None%}max="{{left}}"{%endif%}
            value="0" /></td>
          <td class="product-unit">
              {{pd.unit|unit_multiple}}{% if pd.unit != 'kg' and pd.unit_weight %} ({{pd.unit_weight|weight}}){% endif %}
          </td>
          <td class="unit-price"><span id="pd{{pd.id}}-unit_price">{{pd.price|price_nocurrency}}</span> €/{{pd.unit}}</td>
          <td class="price"><span id="pd{{pd.id}}-ordered_price">-</span> €</td>
          <td class="qpp">{% if pd.quantity_per_package %}{{pd.quantity_per_package}}{{pd.unit|unit_multiple}}/carton{% else %} - {% endif %}</td>
          <td class="reset"><input type="image" src={% static 'images/minus.png' %} onclick="reset_order({{pd.id}}); return false" value="Remettre à 0"></td>
        </tr>
        <tr><td colspan="8" class="description">{%if pd.description%}<div>{{pd.description|markdown}}
        </div>{%endif%}</td></tr>
        {% endfor %}
        <tr class="total">
          <td colspan="3"></td>
          <th>Prix total:</th><td class="total_cell"><span id="total_price">-</span>&nbsp;€</td>
          <td colspan="3"></td>
        </tr>
        <tr class="total">
          <td colspan="3"></td>
          <th>Poids total:</th><td class="total_cell"><span id="total_weight">-</span>&nbsp;kg</td>
          <td colspan="3"></td>
        </tr>
    </table>
    <input type="submit" value="Valider la commande" /> <a href="{% url 'index' %}">Annuler les modifications</a>
    <input type='hidden' name='dv-id' value='{{delivery.id}}' />
    {% csrf_token %}
</form>
{% endblock %}
