{% extends 'layout_narrow.html' %}
{% load static %}

{% block head %}
<script src="tinymce/tinymce.min.js"></script>
<script src="tinymce/jquery.tinymce.min.js"></script>
{% endblock %}

{% block document_ready %}
/* Turn plain textareas into TinyMCE WYSIWYG editors. */
tinymce.init({
    selector: 'textarea',
    content_css: "{% static 'floreal.css' %}",
    language: 'fr_FR'
});

/* Turn plain inputs into Bootstrap inputs. */
$("input,select").addClass("form-control")
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<form method="POST" action={{target}}>
  {% block custom %}{% endblock %}
  <textarea name="editor" class="editor">{{content|safe}}</textarea>
  <input type="submit" value="Sauvegarder" name="save"/>
  {% csrf_token %}
</form>
{% endblock %}
