{% extends 'layout_wide.html' %}
{% load floreal_filters %}

{% block head %}
  <style type="text/css">
    td, th { border: none; }
    th.name, th.email { text-align: right; white-space: nowrap; }
    tr.modified th.name,tr.modified th.email { font-style: italic; }
    tr.user-of-subgroup--1 { background-color: #c0c0c0; }
    tr.user-of-subgroup--2 { background-color: #808080; }
    td.radio-subgroup:nth-child(3n+2) { border-left: 1px solid #A75A50; }
    td.highlight,th.highlight { background-color: #ffaaaa; }

  </style>
  <script type='text/javascript'>
  // <![CDATA[
  var users = null; // to be filled with XHR
  var sorted_subgroups = null; // to be filled with XHR
  var subgroups = {}; // to be filled from sorted_subgroups
  var sorted_users = null; // to be filled with XHR

  /* Generate a line of radioboxes and checkboxes allowing to change a user's memberships.
   * This is performed dynamically because user settings are retrieved after page loading through an XHR. */
  function make_user_line(id) {
    var record = users[id];
    var TEMPLATE =
    '<tr id="u{id}" class="user-starts-with-{initial} user-of-subgroup-{subgroup} user">\n\
      <th class="email u{id}">{email}</th>\n\
      <th class="name u{id}">{first_name} {last_name}</th>\n\
      <td class="highlightable tooltip adm-nw u{id}">\n\
        <input type="checkbox" name="u{id}-network-admin" onclick="mark_user_modified({id});"/>\n\
        <span class="tooltiptext">{first_name} {last_name} @ admin réseau</span>\n\
      </td>\n\
      <td class="highlightable tooltip adm-sg u{id}">\n\
        <input type="checkbox" name="u{id}-subgroup-admin" onclick="mark_user_modified({id});"/>\n\
        <span class="tooltiptext">{first_name} {last_name} @ admin sous-groupe</span>\n\
      </td>";\n\
      {subgroupradios}\n\
      <td class="highlightable tooltip u{id}">\n\
        <input type="radio" id="u{id}-sg-1" name="u{id}-sg" value="-1" onclick="update_user_group({id}, -1);"/>\n\
        <span class="tooltiptext">{first_name} {last_name} @ non-membre</span>\n\
      </td>\n\
      <td class="highlightable tooltip u{id}">\n\
        <input type="radio" id="u{id}-sg-2" name="u{id}-sg" value="-2" onclick="update_user_group({id}, -2);"/>\n\
        <span class="tooltiptext">{first_name} {last_name} @ non-membre</span>\n\
      </td>\n\
    </tr>';
    var SUBGROUP_RADIO_TEMPLATE =
      '<td class="radio-subgroup highlightable tooltip sg{sgid} u{id}">\n\
        <input type="radio" id="u{id}-sg{sgid}" name="u{id}-sg" value="{sgid}" onclick="update_user_group({id}, {sgid});"/>\n\
        <span class="tooltiptext">{first_name} {last_name} @ {sgname}</span>\n\
      </td>';
    var subgroupradios = [];
    for(var i=0; i<sorted_subgroups.length; i++) {
      var line = SUBGROUP_RADIO_TEMPLATE;
      var sg = sorted_subgroups[i];
      var sg_record = {sgid: sg.id, sgname: sg.name};
      for(var field in sg_record) {
        var re = new RegExp('{'+field+'}', 'g');
        line = line.replace(re, sg_record[field]);
      }
      subgroupradios.push(line);
    }
    subgroupradios = subgroupradios.join('\n');
    var line = TEMPLATE.replace('{subgroupradios}', subgroupradios);
    for(var field in record) {
      var re = new RegExp('{'+field+'}', 'g');
      line = line.replace(re, record[field]);
    }
    return line;
  }

  /* Generate the page parts which need the XHR-provided data: lists of subgroups and of users. */
  function fill_page() {

    var rows = [];
    for(var i in sorted_subgroups) {
      var sg = sorted_subgroups[i];
      rows.push('<th class="rotate"><div><div>'+sg.name+'</div></div></th>');
    }
    rows.push('<th class="rotate"><div><div>Membre d\'autres réseaux</div></div></th>');
    rows.push('<th class="rotate"><div><div>Non-membre</div></div></th>');
    $("#header-row").append(rows.join('\n'));

    rows = [];
    for(var i in sorted_subgroups) {
      var sg = sorted_subgroups[i];
      rows.push('<a href="#" onclick="hide_all_but_subgroup(\''+sg.id+'\');">'+sg.name+'</a>');
    }
    rows.push('<a href="#" onclick="hide_all_but_subgroup(-1);">Membre d\'autres réseaux</a>');
    rows.push('<a href="#" onclick="hide_all_but_subgroup(-2);">Non-membres</a>');
    $("#hide-subgroups").append(rows.join('\n'));

    rows = [];
    for(var i in sorted_users) {
      var uid = sorted_users[i];
      rows.push(make_user_line(uid));
    }
    $('#users-table').append(rows.join('\n'));
  }

  function init_form_inputs() {
    for(var uid in users) {
      if(! users.hasOwnProperty(uid)) { continue; }
      var user = users[uid];
      $("#u"+uid+"-sg"+user.subgroup).prop("checked", true);
      if( user.is_subgroup_admin) { $("[name=u"+uid+"-subgroup-admin]").prop("checked", true); }
      if( user.is_network_admin) { $("[name=u"+uid+"-network-admin]").prop("checked", true); }
      if(user.subgroup < 0) {
        var invalid_choice = user.subgroup == -1 ? -2 : -1;
        $("#u"+uid+"-sg"+invalid_choice).attr("disabled", "disabled");
      }
    }
  };

  function hide_all_but_letter(x) {
    $("tr.user").hide();
    $("tr.user-starts-with-"+x).show();
  };

  function show_all() {
    $("tr.user").show();
  };

  function hide_all_but_subgroup(sgid) {
    $("tr.user").hide();
    $("tr.user-of-subgroup-"+sgid).show();
  };

  function update_user_group(uid, sgid) {
    var row = $("tr#u"+uid);
    var classes = row.prop('class').split(/\s+/);
    for(var i=0; i<classes.length; i++) {
      var c = classes[i];
      if(c.startsWith('user-of-subgroup-')) { row.removeClass(c); }
    }
    row.addClass('user-of-subgroup-'+sgid);
    // Disable admin checkboxes iff non-member
    $("#u"+uid+" input[type=checkbox]").prop("disabled", sgid==-1)
    mark_user_modified(uid);
  };

  function mark_user_modified(uid) {
    $("tr#u"+uid).addClass('modified');
    $("#submit").prop('disabled', false);
  };

  function disable_unmodified_inputs() {
    /* Disabled fields won't be sent in the POST request, this dramatically reduces it. */
    $("tr:not(.modified) input").prop('disabled', true);
    modified=[];
    $("tr.modified").each(function(i, input) { modified += input.id + ","; });
    $("#modified-users").attr("value", modified);

  };

  function handle_highlight(event) {
      var el = event.currentTarget;
      var classes = el.classList
      var u, sg;

      for(var i=0; i<classes.length; i++) {
          var c = classes[i];
          if(c.startsWith('u')) { u = users[c.substr(1)]; }
          else if(c.startsWith('sg')) { sg = subgroups[c.substr(2)]; }
          else if(c.startsWith('adm')) { sg = {name: c}; }
          else { continue; /* irrelevant class */ }

          if(event.type=='mouseenter') { $("."+c).addClass('highlight'); }
          else if(event.type=='mouseleave') { $("."+c).removeClass('highlight'); }
      }
  }

  $(document).ready(function(){
    $.getJSON("{% url 'json_memberships' network=nw.id %}", function(data) {
        users = data.users;
        sorted_users = data.sorted_users;
        sorted_subgroups = data.subgroups;
        for(var i in sorted_subgroups) {
            var sg = sorted_subgroups[i];
            subgroups[sg.id] = sg;
        }
        fill_page();
        init_form_inputs();
        $('#users-table').delegate('td.highlightable', 'hover', handle_highlight);
    });
  });
  // ]]>
  </script>

{% endblock %}


{% block content %}
<h1>Gestion des sous-groupes du réseau {{nw.name}}.</h1>
<p>
  Cette page permet aux administrateurs du réseau {{nw.name}} de
  répartir les membres entre les sous-groupes, et de désigner les
  administrateurs de sous-groupes.
</p>

<p>
  Montrer les utilisateurs dont le nom commence par:<br/>
  <a href="#" onclick="show_all();">Tous</a>
  {% for X in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
  <a href="#" onclick="hide_all_but_letter('{{X}}');">{{X}}</a>{% endfor %}
</p>
<p id="hide-subgroups">
  Montrer seulement les utilisateurs du sous-groupe:<br/>
  <a href="#" onclick="show_all();">Tous</a>
</p>

<form method="post" action="#">
  {% csrf_token %}
  <input type="hidden" id="modified-users" name="modified" value=""/>
  <table id="users-table">
    <tr id="header-row">
      <td colspan="2"><input id="submit" type="submit" value="Sauvegarder" onclick="disable_unmodified_inputs()" disabled="true"/></td>
      <th class="rotate"><div><div>Admin réseau</div></div></th>
      <th class="rotate"><div><div>Admin sous-groupe</div></div></th>
    </tr>
  </table>
</form>
{% endblock %}
