{% extends 'layout.html' %}
{% load static %}

{% block head %}
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'tinymce/jquery.tinymce.min.js' %}"></script>
<style type="text/css">
</style>
 
<script type='text/javascript'>
$(document).ready(function(){
  /* Turn plain textareas into TinyMCE WYSIWYG editors. */
  tinymce.init({
      selector: 'textarea',
      content_css: "{% static 'floreal.css' %}",
      language: 'fr_FR'
  });
});
</script>
{% endblock %}

{% block content %}
<h1>{{title}}</h1>
<form method="POST" action={{target}}>
  {% block custom %}{% endblock %}
  <textarea name="editor" class="editor">{{content|safe}}</textarea>
  <input type="submit" value="Sauvegarder" name="save"/>
  {% csrf_token %}
</form>
{% endblock %}
