{% extends 'layout_semi_wide.html' %}
{% load static %}

{% block head %}
  <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <link href="{% static 'js/bootstrap.min.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'summernote/summernote.min.css' %}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'summernote/summernote.min.js' %}"></script>

  <script type='text/javascript'>
    // <![CDATA[

    var N_ROWS = 1;

    var DELIVERY = {{delivery.id}};

    var PRODUCTS = [{% for pd in delivery.product_set.all %}
      { 'id': {{pd.id}},
        'name': "{{pd.name|escapejs}}",
        'price': "{{pd.price|escapejs}}",
        'unit': "{{pd.unit|escapejs}}",
        'quantity_limit': {%if pd.quantity_limit%}"{{pd.quantity_limit|escapejs}}"{%else%}null{%endif%},
        'quantity_per_package': {%if pd.quantity_per_package%}"{{pd.quantity_per_package|escapejs}}"{%else%}null{%endif%},
        'quantum': {{pd.quantum}},
        'unit_weight': {{pd.unit_weight}},
        'deleted': {%if pd.delivery.id == delivery.id%}false{%else%}true{%endif%},
        {%if pd.description%}'described': true,
        'description': "{{pd.description|escapejs}}"{%else%}'described': false{%endif%},
        'delivery': {{pd.delivery.id}} },
    {% endfor %}];

    var LOADED_DESCRIPTIONS = {};  // row prefix -> true

    /* If the "deleted" checkbox is checked, strike theline and disable product edition. */
    function reflect_deletion(r_prefix) {
      /* TODO: also reflect place renumbering. */
      var deleted = $("#"+r_prefix+" .deleted input").is(':checked');
      var inputs  = $("#"+r_prefix+" input[type=number],"+
                      "#"+ r_prefix+" input[type=text],"+
                      "#"+ r_prefix+" .described input[type=chechbox],"+
                      "#"+r_prefix+"-description textarea");
      var rows = $("#"+r_prefix+",#"+r_prefix+"-description");
      if( deleted) {
        rows.addClass('deleted');
        inputs.attr('disabled', 'disabled');
      } else {
        rows.removeClass('deleted');
        inputs.removeAttr('disabled');
      }
    }

    /* Enable/disable description editor */
    function reflect_description(r_prefix) {
      var described = $("#"+r_prefix+' .described input').is(':checked');
      console.log("Change description of", r_prefix, "to", described);
      if( described) {
          $("#"+r_prefix+"-description").show();
          $("#"+r_prefix+"-description textarea").removeAttr("disabled");
          if(! LOADED_DESCRIPTIONS[r_prefix]) {
            LOADED_DESCRIPTIONS[r_prefix] = true;
            $("#"+r_prefix+"-description textarea").summernote();
          }
      } else {
          $("#"+r_prefix+"-description").hide();
          $("#"+r_prefix+"-description textarea").attr("disabled", "disabled");
      }
    }

    function reflect_unit_change(r_prefix) {
        var content = $("#"+r_prefix+" .unit input").attr('value');
        if(RegExp("^\\d.*").test(content)) { content = "×"+content; }
        $("#"+r_prefix+" .unit-mirror").text(content);
        $("#"+r_prefix+" .if-unit-mirror")[content ? 'show' : 'hide']();
    }

    /* Exchange the contents of row r0 and r0+1 */
    function swap_rows(r0) {
        var r1 = r0+1;
        console.log("Swapping rows "+r0+" and "+r1);
        var input_fields = ['id', 'name', 'price', 'unit', 'quantity_per_package',
                            'quantum', 'unit_weight'];
        for(var i=0; i<input_fields.length; i++) {
            var field = input_fields[i];
            var v0 = $("#r"+r0+" ."+field+" input").val();
            var v1 = $("#r"+r1+" ."+field+" input").val();
            $("#r"+r0+" ."+field+" input").val(v1);
            $("#r"+r1+" ."+field+" input").val(v0);
        }
        var checkboxes =['described', 'deleted'];
        for(i=0; i<checkboxes.length; i++) {
            var field = checkboxes[i];
            var b0 = $("#r"+r0+" ."+field+" input").is(":checked");
            var b1 = $("#r"+r1+" ."+field+" input").is(":checked");
            $("#r"+r0+" ."+field+" input").attr("checked", b1);
            $("#r"+r1+" ."+field+" input").attr("checked", b0);
        }

        var t0 = $("#r"+r0+"-description textarea").val();
        var t1 = $("#r"+r1+"-description textarea").val();
        $("#r"+r0+"-description textarea").val(t1);
        $("#r"+r1+"-description textarea").val(t0);


        reflect_deletion("r"+r0);
        reflect_description("r"+r0);
        reflect_unit_change("r"+r0);
        reflect_deletion("r"+r1);
        reflect_description("r"+r1);
        reflect_unit_change("r"+r1);
    }

    /* Add rows of blank products at the end of the table */
    function add_row() {
      var r_num = N_ROWS;
      N_ROWS += 1;
      $("#n_rows").attr("value", N_ROWS);
      $("#products-table tbody").append('\n\
        <tr id="r%">\n\
            <td class="hidden id"><input name="r%-id" type="hidden" /></td>\n\
            <td class="place">\n\
              <button type="button" class="up">▲</button> % <button class="down" type="button">▼</button>\n\
              <input name="r%-place" type="hidden" value="%"/>\n\
            </td>\n\
            <td class="name"><input maxlength="64" name="r%-name" type="text" /></td>\n\
            <td class="price"><input name="r%-price" step="0.01" min="0" type="number" /></td>\n\
            <td>€/</td>\n\
            <td class="unit"><input maxlength="64" name="r%-unit" type="text" /></td>\n\
            <td class="quantity_per_package"><input name="r%-quantity_per_package" type="number" /></td>\n\
            <td class="unit-label">&nbsp;<span class="unit-mirror"></span><span class="if-unit-mirror">/ct</span></td>\n\
            {%if QUOTAS_ENABLED%}<td class="quantity_limit"><input name="r%-quantity_limit" min="0" type="number"/></td>\n\
              <td class="unit-label">&nbsp;<span class="unit-mirror"></span></td>{%endif%}\n\
            <td class="quantum"><input name="r%-quantum" min="0" type="number" step="0.001"/></td>\n\
            <td class="unit-label">&nbsp;<span class="unit-mirror"></span></td>\n\
            <td class="unit_weight"><input name="r%-unit_weight" min="0" step="0.001" type="number"/></td><td>kg</td>\n\
            <td class="deleted">\n\
              <input name="r%-deleted" value="r%-deleted" onchange="reflect_deletion(\'r%\')" type="checkbox">\n\
            </td>\n\
            <td class="described">\n\
              <input name="r%-described" value="r%-described" onchange="reflect_description(\'r%\')" type="checkbox">\n\
            </td>\n\
        </tr>\n\
        <tr id="r%-description">\n\
          <td></td>\n\
          <td class="description" colspan="{%if QUOTAS_ENABLED%}14{%else%}12{%endif%}">\n\
            <textarea name="r%-description" rows="5"></textarea>\n\
          </td>\n\
        </tr>'.replace(/%/g, r_num));

      // disable last "down" button, re-enable before-last "down" button, which was previously last
      $("#r"+r_num+" td.place button.down").attr("disabled", "disabled");
      $("#r"+(r_num-1)+" td.place button.down").removeAttr("disabled");

      // wire buttons
      $("#r"+r_num+" td.place button.up").click(function() { swap_rows(r_num-1); })
      $("#r"+r_num+" td.place button.down").click(function() { swap_rows(r_num); })

      // wire unit change reflections upon keystrokes
      $("#r"+r_num+" .unit input").keyup(function() { reflect_unit_change("r"+r_num); });
      reflect_unit_change("r"+r_num);

      return "r"+r_num;
    }

    /* Fill a product row with data from a JSON record */
    function fill_row(r_prefix, record) {
      $.each(record, function(k, v) {
        // console.log("set #"+prefix+"-"+k+" to "+v);
        $('#'+r_prefix+' .'+k+" input").attr('value', v);
      });
      reflect_unit_change(r_prefix);
      if( record['deleted']) {
        $("#"+r_prefix+" .deleted input")[0].checked=true;
        reflect_deletion(r_prefix);
      }
      if( record['described']) {
        $("#"+r_prefix+" .described input")[0].checked=true;
        $("#"+r_prefix+"-description textarea").val(record.description);
      }
      reflect_description(r_prefix); // hide or enable summernote
    }

    /* Add rows of blank products at the end of the table */
    function add_blank_products() {
      var N_ADDED_ROWS = 3;
      for(var i=0; i<N_ADDED_ROWS; i++) {
        var r_prefix = add_row();
        reflect_description(r_prefix); // hide description textarea
        // No need to reflect deletion, they aren't deleted by default
      }
    }

    function submit_if_valid() {
        if($("#dv-name").val().trim() == "") {
            alert("Avant de pouvoir sauvegarder, il faut donner un nom à la livraison, en haut du formulaire !");
            return;
        }
        /* All sanity checks passed: submit the form */
        $("#form").submit()
    }

    $(document).ready(function() {
      /* Generate and fill product rows */
      for(var i=0; i<PRODUCTS.length; i++) {
        var record = PRODUCTS[i];
        var r_prefix = add_row();
        fill_row(r_prefix, record);
      }

      /* Add a couple of empty rows. */
      add_blank_products();

      /* Disable the "move up" button of the first product.
       * "move down" of the last button has been handled through blank line insertions. */
      $("#r1 td.place button.up").attr("disabled", "disabled");

      /* If the delivery has just been created, clear up the name so that it has to be filled
       * explicitly. */
      var url_params = new URLSearchParams(window.location.search);
      if(url_params.get('new')) {
          $("#dv-name").val("");
      }

      $("#dv-description").summernote();

    })
    // ]]>
  </script>
  <style type="text/css">
      td.name input { width: 200px; }
      td.unit input { width: 50px; }
      td.unit-label { text-align: left; }
      td.price input { width: 60px; text-align: right; }
      td.quantity_per_package input { width: 45px; text-align: right; }
      .quota, .quantity_per_package { padding-left: 10px; }
      td.quota input { width: 40px; }
      td.quantum input { width: 38px; }
      td.quantity_limit input { width: 38px; }
      td.unit_weight input { width: 40px; text-align: right; }
      td.description { text-align: left; }
      tr.deleted { text-decoration: line-through; }
      tr.deleted input { text-decoration: line-through; }
      tr.deleted textarea { text-decoration: line-through; }
      #products-table th.non-rotate { vertical-align: bottom; text-align : center}
      #products-table textarea { width: 100%; }
      #products-table input { padding: 1px;}  
      table .hidden { display: none; }
      td.place button { padding: 1px; }
      #dv-table th {text-align: right; }
      #dv-table td input { width: 100%; }
      #dv-table td select { width: 100%; }
      #dv-description { width: 100%; height: 150px; }
  </style>
{% endblock %}

{% block content %}
<form method="post" action="" id="form">
    <table id="dv-table">
        <tr>
          <th><label for="dv-name">Nom de la livraison :</label></th>
          <td><input id="dv-name" maxlength="64" name="dv-name" type="text" value="{{delivery.name|escape}}" required  /></td>
        </tr>
      <tr>
        <th><label for="dv-state">État de la livraison :</label></th>
        <td><select id="dv-state" name="dv-state">
          {% for key, name in delivery.STATE_CHOICES.items %}
          <option value="{{key}}" {% if delivery.state == key %}selected="selected"{% endif %}>{{name}}</option>
          {% endfor %}
        </select></td>
      </tr>
    </table>

    <div style="height: 50px;"></div>

    <h3>Description de la commande</h3>
    <p>
        <textarea name="dv-description" id="dv-description" rows="10">{{delivery.description|default_if_none:""}}</textarea>
    </p>
    XXX
    {{delivery.product_set.first.image}}
    XXX
    <table id="products-table">
        <thead>
            <tr>
                <th class="hidden non-rotate"></th>
                <th class="non-rotate">#</th>
                <th class="non-rotate">Produit</th>
                <th class="non-rotate">Prix</th>
                <th class="non-rotate"></th>
                <th class="non-rotate">Unité</th>
                <th colspan="2" class="qpp non-rotate">Par carton</th>
                {%if QUOTAS_ENABLED%}<th colspan="2" class="non-rotate quota">Quota</th>{%else%}<th>QUOTAS_ENABLED={{QUOTAS_ENABLED}}</th>{%endif%}
                <th colspan="2" class="non-rotate">Quantum</th>
                <th colspan="2" class="non-rotate">Poids</th>
                <th class="rotate"><div><div>Effacer ?</div></div></th>
                <th class="rotate"><div><div>Description ?</div></div></th>
            </tr>
            <tr><td>&nbsp;</td></tr>
        </thead>
        <tbody></tbody>
    </table>
    <p>

        <button type='button' onclick="add_blank_products();">Ajouter des produits</button>
        <input type="submit" value="Sauvegarder" name="save_and_stay"/>
        <input type="submit" value="Sauvegarder et retour" name="save_and_leave"/>			
        <input type='hidden' name='dv-id' value='{{delivery.id}}' />
        <input type='hidden' name='n_rows' id="n_rows" value='0' />
        {% csrf_token %}
	</p>
</form>
{% endblock %}
