{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}
{% block head %}
<script type='text/javascript'>
  
function filter_networks() {
  const txt = $("#recherche").val().toLowerCase().replace(/[^a-z0-9]+/g, ' ');
  $("div.circuit").each((i, _e) => {
    const e = $(_e);
    const name = $(e).find("a>h3").text();
    if(e.attr("data-search-string").includes(txt)) {
      e.show();
    } else {
      e.hide();
    }
  })
}

$(document).ready(() => {
  {% if number_of_deliveries %}
  $('nav .orders a').append(`&nbsp;<span class="badge badge-pill badge-danger">{{number_of_deliveries}}</span>`);
  {% endif %}
  $('#recherche').on("keyup", filter_networks);
  $('#recherche-bouton').on("click", filter_networks);
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  if(params.filter) {
    $("#recherche").val(params.filter);
    filter_networks();
  }
});
</script>
{% endblock %}

{% block content %}
<section class="header-accueil">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Circuits Courts Civam</h1>
          <p>Gestion associative de commandes en circuits courts</p>
        </div>
        <div class="col connexion">
          <form action="{% url 'auth_login' %}" method="POST">
            <div id="form-connexion">
              <a href="#" id="btn-quit"></a>
              <input type="text" name="username" value="" placeholder="Identifiant">
              <input type="password" name="password" value="" placeholder="Mot de passe">
              {% csrf_token %}
            <div class="row">
              <button id="btn-login" type="submit" name="button">S'identifier</button>
              <p><a href="{% url 'password_reset' %}" id="btn-mdp">Mot de passe oublié ?</a></p>
            </div>
          </form>
        </div>

          <div class="row">
            <div id="btns-default">
              <button id="btn-connexion" class="button-primary" type="button" name="button">Connexion</button>
              <a href="{% url 'user_register' %}" id="btn-register" class="button">S'enregistrer</a>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section id="intro">
    <div class="container">
      <div class="row top">
        <div class="col">
          {{accueil|safe}}
        </div>
        <div class="col50">
          <img src="{% static 'images/index-intro.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="circuits" class=" container margetop">
    <a id="réseaux"></a>
    <div class="row rechercheReseaux baseline start">
      <h2>Les réseaux</h2>
      <div class="col33">
        <input type="text" id="recherche" name="recherche" placeholder="Commune, département, nom du groupement,...">
      </div>
      <input class="recherche" id="recherche-bouton" type="button" value="Rechercher">
    </div>
    <div class="row infini">
      {% for nw in networks %}
      <div class="col33 circuit" data-search-string="{{nw.search_string}}">
        <a href="{% url 'reseau' network=nw.id %}">
          {% with img=nw.image_description %}
          <div class="circuits-image" 
               style="background-image: url('{% if img %}{{img.url}}{% else %}{% static  'images/image-reseau.jpg' %}{% endif %}'); 
                      background-size: cover; 
                      background-position: center;">                  
          </div>
          {% endwith %}
        </a>
        <a href="{% url 'reseau' network=nw.id %}"><h3>{{nw.name}}</h3></a>
        {% if  nw.ville %}
        <p class="circuits-info"><strong>{{nw.ville.nom_reel}}, {{nw.ville.departement}}</strong></p>
        {% else %}
        <p class="circuits-info"><strong>—</strong></p>
        {% endif %}
        <div class="row infini  circuitsBouton">
          {% if user.is_staff %}
          <a href="{% url 'admin' %}#nw-{{mb.network.id}}" class="button attente">Administrer</a>
          {% endif %}
          <a href="{% url 'reseau' network=nw.id %}" class="button button-primary">Rejoindre</a>
        </div>
        <p>{{nw.short_description|safe}}</p>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
