{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
<style type="text/css">
  .circuits-image {
    position: relative;
  }

  .circuits-image .image-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (hover: hover) {
    .circuits-image .image-controls {
      display: none;
    }
    .circuits-image:hover .image-controls {
      display: unset;
    }
  }
</style>
{% if number_of_deliveries %}
<script type='text/javascript'>
$(document).ready(() =>
  $('nav .orders a').append(`&nbsp;<span class="badge badge-pill badge-danger">{{number_of_deliveries}}</span>`)
)
</script>
{% endif %}
{% endblock %}

{% block content %}
<section class="header-accueil">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Circuits Courts Civam</h1>
          <p>Gestion associative de commandes en circuits courts</p>
        </div>
      </div>
  </section>

  <section id="intro">
    <div class="container">
      <div class="row top">
        <div class="col">
          {{accueil|safe}}
        </div>
        <div class="col50">
          <img src="{% static 'images/index-intro.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="circuits" class=" container margetop">
    <a id="réseaux"></a>
    <h2>Les réseaux</h2>
    <div class="row infini">
      {% for mb in memberships %}
      <div class="col33">
        {% with img=mb.network.image_description %}
        <a href="{% url 'reseau' network=mb.network.id %}">

          <div class="circuits-image" 
               style="background-image: url('{% if img %}{{img.url}}{% else %}{% static  'images/image-reseau.jpg' %}{% endif %}'); 
                      background-size: cover; 
                      background-position: center;">

            <div class="image-controls">

              {% if mb.has_open_orders %}
              <a href="{% url 'orders' %}#{{mb.network.slug}}" class="button">Commander</a>
              {% endif %}

              {% if mb.is_staff or mb.is_subgroup_staff or mb.is_producer or user.is_staff %}
              <a href="{% url 'admin' %}#nw-{{mb.network.id}}" class="button">Administrer</a>
              {% endif %}

              <a href="{% url 'reseau' network=mb.network.id %}" class="button">Description</a>

              {% if mb.is_buyer %}
              <a href="{% url 'leave_network' network=mb.network.id %}" 
                onclick="return confirm('Vous voulez définitivement quitter {{mb.network.name}}?')"
                class="button">Se  désinscrire</a>
              {% endif %}
              
              {% if mb.is_candidate %}
              <a href="{% url 'reseau' network=mb.network.id %}" class="button attente">En attente</a>
              <a href="{% url 'leave_network' network=mb.network.id %}" 
                onclick="return confirm('Vous voulez annuler votre candidature à {{mb.network.name}}?')"
                class="button">Annuler candidature</a>
              {% endif %}
            </div>
          </div>
        </a>
        {% endwith %}
        <a href="{% url 'reseau' network=mb.network.id %}"><h3>{{mb.network.name}}</h3></a>
        {{mb.network.short_description|safe}}
      </div>
      {% endfor %}
      {% for nw in unsubscribed %}
      <div class="col33">
        <a href="{% url 'reseau' network=nw.id %}">
          {% with img=nw.image_description %}
          <div class="circuits-image" 
               style="background-image: url('{% if img %}{{img.url}}{% else %}{% static  'images/image-reseau.jpg' %}{% endif %}'); 
                      background-size: cover; 
                      background-position: center;">
            <div class="image-controls">
              <a href="{% url 'reseau' network=nw.id %}" class="button">Description</a>
              <a href="{% url 'reseau' network=nw.id %}" class="button">Rejoindre</a>
            </div>                    
          </div>
          {% endwith %}
        </a>
        {% if user.is_staff %}
        <a href="{% url 'admin' %}#nw-{{mb.network.id}}" class="button">Administrer</a>
        {% endif %}
        <a href="{% url 'reseau' network=nw.id %}"><h3>{{nw.name}}</h3></a>
        {{nw.short_description|safe}}
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
