{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
{% if user.is_staff %}
<script type='text/javascript'>
    // <![CDATA[
    /* Demand confirmation through a dialog before following link. */
    $(function(){
        $("#create-network").on('click', function(x) {
            var nw_name = window.prompt("Créer un nouveau réseau nommé :")
            if( ! nw_name) return false;
            var sg_name = window.prompt("Créer un premier sous-groupe du réseau " + nw_name +
                " ? Pour un réseau sans sous-groupe, cliquez sur «Annuler».");
            if( ! sg_name) { sg_name = nw_name; }
            var url_scheme = "{% url 'circuitscourts:create_network' nw_name='NW_NAME' sg_name='SG_NAME' %}";
            window.location = url_scheme
                    .replace('NW_NAME', encodeURI(nw_name))
                    .replace('SG_NAME', encodeURI(sg_name));
            return false;
        })
    })
    // ]]>
</script>
{% endif %}
{% if not has_phone %}
<script type='text/javascript'>
    // <![CDATA[
    $(function() {
        var phone = window.prompt(
                "Bonjour,\n \n" +
                "Les organisateurs de Caracole ont besoin de votre numéro te téléphone, si possible mobile, " +
                "pour pouvoir vous joindre en cas de problème de distribution. Merci de le renseigner ici.\n \n" +
                "Numéro de mobile de {{user.first_name}} {{user.last_name}}:");
        if(phone) {
            var url = "{% url 'circuitscourts:add_phone_number' phone='PHONE' %}".replace('PHONE', phone);
            $.ajax(url);
        }
    })
    // ]]>
</script>
{% endif %}
<style type="text/css">
    li ul { margin-bottom: 0px; }
</style>
{% endblock %}

{% block content %}

{% if deliveries %}
<h2>Commandes en cours</h2>
Commander pour :
<ul>
    {% for dv in deliveries %}
    {% with dv|order:user as order %}
    {% if dv.state != Delivery.ORDERING_ALL %}
    {% if order.price != 0 %}
    <li><em>{{dv.network.name}} : {{dv.name}}</em>
        {{order.price|price}} (non modifiable):
        <ul>
            {% for pc in order.purchases %}<li>{{pc}}</li>{% endfor %}
        </ul>
    </li>
    {% endif %}
    {% elif order.price == 0 %}
    <li><a href="{% url 'circuitscourts:edit_user_purchases' delivery=dv.id %}">{{dv.network.name}} : {{dv.name}}</a></li>
    {% else %}
    <li>Modifier <a href="{% url 'circuitscourts:edit_user_purchases' delivery=dv.id %}">{{dv.network.name}} : {{dv.name}}</a>
        ({{order.price|price}}):
        <ul>
            {% for pc in order.purchases %}<li>{{pc}}</li>{% endfor %}
        </ul>
    </li>
    {% endif %}
    {% endwith %}
    {% endfor %}
</ul>
{% else %}
<h2>Aucune commande en cours</h2>
{% endif %}

<p><a href="{% url 'circuitscourts:view_history' %}">Historique de vos anciennes commandes</a></p>

{% if network_admin or subgroup_admin %}
<h2>Administrer</h2>
<ul>
    {% for nw in network_admin %}
    <li><a href="{% url 'circuitscourts:network_admin' network=nw.id %}">Administrer le réseau <em>{{nw.name}}</em></a></li>
    {% endfor %}{# network_admin #}
    {% if user.is_staff %}
    <li><a href="#" id="create-network">Créer un nouveau réseau</a></li>
    {% endif %}

    {% for sg_dv_cd in subgroup_admin %}
    {% with sg_dv_cd.sg as sg %}
    <li>Réseau <em>{{sg.network.name}}</em>, sous-groupe <em>{{sg.name}}</em>:
        <ul>
            <li><a href="{% url 'circuitscourts:emails_subgroup' subgroup=sg.id %}">e-mails <img src="{% static 'images/email.png' %}"/></a> et
                <a href="{% url 'circuitscourts:phones_subgroup' subgroup=sg.id %}">téléphones</a> ☎ des membres.</li>
            {% for cd in sg_dv_cd.cd %}
            <li>{{cd.user.first_name}} {{cd.user.last_name}} (<a href="mailto://{{cd.user.email}}">{{cd.user.email}}</a>)
                souhaite rejoindre le sous-groupe {{cd.subgroup.name}} :
                <a href="{% url 'circuitscourts:validate_candidacy' candidacy=cd.id response='Y' %}?next=/"><span class="yes">Accepter</span></a>✔
                /
                <a href="{% url 'circuitscourts:validate_candidacy' candidacy=cd.id response='N' %}?next=/"><span class="no">Refuser</span></a>✘
            </li>
            {% endfor %}

            {% for dv in sg_dv_cd.dv %}
            <li>Commande <em>{{dv.name}}</em> / {{sg.network.name}} / {{sg.name}} ({{dv.state_name}}):
                <ul class="horizontal">
                    {% if sg.id|subgroup_has_purchases:dv.id %}
                    <li>Voir:</li>
                    <li><a href="{% url 'circuitscourts:view_subgroup_purchases_html' delivery=dv.id subgroup=sg.id %}">en ligne <img src="{% static 'images/grid.png' %}"/</a></li>
                    <li><a href="{% url 'circuitscourts:view_subgroup_purchases_xlsx' delivery=dv.id subgroup=sg.id  %}">sous MS-Excel <img src="{% static 'images/excel.png' %}"/></a></li>
                    <li><a href="{% url 'circuitscourts:view_subgroup_purchases_latex' delivery=dv.id subgroup=sg.id  %}">en tableau PDF <img src="{% static 'images/pdf.png' %}"/></a></li>
                    <li><a href="{% url 'circuitscourts:view_subgroup_cards_latex' delivery=dv.id subgroup=sg.id  %}">en cartes PDF <img src="{% static 'images/pdf.png' %}"/></a></li>
                </ul>
                <ul class="horizontal">
                    {% else %}
                    <li>(Aucun achat)</li>
                    {% endif %}
                    {% if user|is_admin_of:dv.network %}
                    <li><a href="{% url 'circuitscourts:edit_delivery' delivery=dv.id %}">Gérer la commande</a></li>
                    {% endif %}
                    {% if dv.state == Delivery.ORDERING_ALL %}
                    <li><a href="{% url 'circuitscourts:edit_subgroup_purchases' delivery=dv.id subgroup=sg.id%}">
                        Modifier les achats <img src="{% static 'images/edit.png' %}"/></a></li>
                    {% elif dv.state == Delivery.ORDERING_ADMIN %}
                    {% if sg|subgroup_state:dv < SubgroupState.READY_FOR_DELIVERY %}
                    <li><a href="{% url 'circuitscourts:edit_subgroup_purchases' delivery=dv.id subgroup=sg.id%}">
                        Modifier<img src="{% static 'images/edit.png' %}"/></a></li>
                    <li><a href="{% url 'circuitscourts:set_subgroup_state_for_delivery' subgroup=sg.id delivery=dv.id state=SubgroupState.READY_FOR_DELIVERY %}?next=/">
                        <span class="no">Valider la commande du sous-groupe {{sg.name}}</span></a>✔</li>
                    {% else %}{# dv.state == READY_FOR_DELIVERY #}
                    <li><span class="yes">Commande validée pour le sous-groupe {{sg.name}}</span>
                        (<a href="{% url 'circuitscourts:set_subgroup_state_for_delivery' subgroup=sg.id delivery=dv.id state=SubgroupState.INITIAL %}?next=/">annuler</a>✘)
                    </li>
                    {% endif %}{# subgroup_state #}
                    {% elif dv.state == Delivery.REGULATING %}
                    {% if sg|subgroup_state:dv < SubgroupState.READY_FOR_ACCOUNTING %}
                    <!--<li><a href="% url 'circuitscourts:adjust_subgroup' delivery=dv.id subgroup=sg.id%">
                        Régulariser les comptes<img src="{% static 'images/edit.png' %}"/></a></li>-->
                    <li><a href="{% url 'circuitscourts:edit_subgroup_purchases' delivery=dv.id subgroup=sg.id%}">
                        Modifier<img src="{% static 'images/edit.png' %}"/></a></li>
                    <li><a href="{% url 'circuitscourts:subgroup_regulation' subgroup=sg.id delivery=dv.id %}">
                        <span class="no">Régulariser la comptabilité du sous-groupe {{sg.name}}</span></a>✔</li>
                    {% else %}{# READY_FOR_ACCOUNTING #}
                    <li><span class="yes">Comptabilité validée pour le sous-groupe {{sg.name}}</span>
                        (<a href="{% url 'circuitscourts:set_subgroup_state_for_delivery' subgroup=sg.id delivery=dv.id state=SubgroupState.READY_FOR_DELIVERY %}?next=/">annuler</a>✘)
                    </li>
                    {% endif %}{# subgroup_state #}
                    {% endif %}{# dv.state == ??? #}
                </ul>
            </li>
            {% endfor %}{# dv #}
        </ul>
    </li>
    {% endwith %}{# sg #}
    {% endfor %}{# subgroup_admin #}
</ul>
{% endif %}{# network_admin or subgroup_admin #}

<h2>Gérer ses inscriptions</h2>
<p><a href="{% url 'circuitscourts:candidacy' %}">S'inscrire à d'autres réseau, se désinscrire, changer de sous-groupe...<img src="{% static 'images/edit.png' %}"/></a></p>

{% endblock %}
