{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
{% if number_of_deliveries %}
<script type='text/javascript'>
$(document).ready(() =>
  $('nav .orders a').append(`&nbsp;<span class="badge badge-pill badge-danger">{{number_of_deliveries}}</span>`)
)
</script>
{% endif %}
{% endblock %}

{% block content %}
<section class="header-accueil">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Circuits Courts Civam</h1>
          <p>Gestion associative de commandes en circuits courts</p>
        </div>
      </div>
  </section>

  <section id="intro">
    <div class="container">
      <div class="row top">
        <div class="col">
          {{accueil|safe}}
        </div>
        <div class="col50">
          <img src="{% static 'images/index-intro.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </section>

  <section id="circuits" class=" container margetop">
    <a id="réseaux"></a>
    <h2>Les réseaux</h2>
    <div class="row infini">
      {% for mb in memberships %}
      <div class="col33">
        {% with img=mb.network.image_description %}
        <a href="{% url 'reseau' network=mb.network.id %}">
          <!-- TODO: use img with object-fit and object-position -->
          <div class="circuits-image" 
               style="background-image: url('{% if img %}{{img.url}}{% else %}{% static  'images/image-reseau.jpg' %}{% endif %}'); 
                      background-size: cover; 
                      background-position: center;"></div>
        </a>
        {% endwith %}
        <a href="{% url 'reseau' network=mb.network.id %}"><h3>{{mb.network.name}}</h3></a>
        {{mb.network.short_description|safe}}
        <div class="row">
            {% if mb.is_staff or mb.is_subgroup_staff or is_producer or is_regulator or mb.user.is_staff %}
            <!--
            <a href="{% url 'reseau' network=mb.network.id %}" class="button admin">Administrer</a>
            -->
            {% endif %}
            {% if mb.has_open_orders %}
            <a href="{% url 'orders' %}#{{mb.network.slug}}" class="button button-primary">Commander</a>
            <a href="{% url 'leave_network' network=mb.network.id %}" 
               onclick="return confirm('Vous voulez définitivement quitter {{mb.network.name}}?')"
               class="button quitter">Quitter</a>
            {% elif mb.is_buyer %}
            <a s  href="{% url 'reseau' network=mb.network.id %}" class="button inscrit">Inscrit</a>
            <a href="{% url 'leave_network' network=mb.network.id %}" 
               onclick="return confirm('Vous voulez définitivement quitter {{mb.network.name}}?')"
               class="button quitter">Quitter</a>
            {% elif mb.is_candidate %}
            <a href="{% url 'reseau' network=mb.network.id %}" class="button attente">En attente</a>
            <a href="{% url 'leave_network' network=mb.network.id %}" 
               onclick="return confirm('Vous voulez annuler votre candidature à {{mb.network.name}}?')"
               class="button quitter">Quitter</a>
            {% endif %}
        </div>
      </div>
      {% endfor %}
      {% for nw in unsubscribed %}
      <div class="col33">
        <a href="{% url 'reseau' network=nw.id %}">
          {% with img=nw.image_description %}
          <div class="circuits-image" 
               style="background-image: url('{% if img %}{{img.url}}{% else %}{% static  'images/image-reseau.jpg' %}{% endif %}'); 
                      background-size: cover; 
                      background-position: center;"></div>
          {% endwith %}
        </a>
        <a href="{% url 'reseau' network=nw.id %}"><h3>{{nw.name}}</h3></a>
        {{nw.short_description|safe}}
        <div class="row">
            <!--
            {% if user.is_staff %}
            <a href="{% url 'reseau' network=nw.id %}" class="button admin">Administrer</a>
            {% endif %}
            -->
            <a href="{% url 'reseau' network=nw.id %}" class="button button-primary">Rejoindre</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
