{% extends 'layout_narrow.html' %}
{% load static %}
{% load floreal_filters %}

{% block document_ready %}
    {% if user.is_staff %}
    $("#create-network").on('click', (x) => {
        const nw_name = window.prompt("Créer un nouveau réseau nommé :")
        if( ! nw_name) return false;
        const sg_name = window.prompt(
            "Créer un premier sous-groupe du réseau " + nw_name +
            " ? Pour un réseau sans sous-groupe, cliquez sur «Annuler»."
        );
        if( ! sg_name) { sg_name = nw_name; }
        const url_scheme = "{% url 'create_network' nw_name='NW_NAME' %}";
        window.location = url_scheme
            .replace('NW_NAME', encodeURI(nw_name))
            .replace('SG_NAME', encodeURI(sg_name));
        return false;
    });
    {% endif %}

    {% if not has_phone %}
    const phone = window.prompt(
        "Bonjour,\n \n" +
        "Le Civam a besoin de votre numéro te téléphone, si possible mobile, " +
        "pour pouvoir vous joindre en cas de problème de distribution. " +
        "Merci de le renseigner ici.\n \n" +
        "Numéro de mobile de {{user.first_name}} {{user.last_name}}:");
    if(phone) {
        var url = "{% url 'add_phone_number' phone='PHONE' %}".replace('PHONE', phone);
        $.ajax(url);
    }
    {% endif %}

{% endblock %}

{% block content %}

{% if messages %}
<h2>Message des administrateurs</h2>
{% for msg in messages %}
<p class="admin-message">
  <span class="destination">{{msg.0}}</span> : {{msg.1|safe}}
{% if network_admin or subgroup_admin %}<a href="{% url 'unset_message' id=msg.2 %}">(<span class="no">Supprimer le message ✘</span>)</a>{% endif %}</p>
{% endfor %}
{% endif %}

{% if user_deliveries %}
<h2>Commandes en cours</h2>
{% with several_nw=user_deliveries|several %}
Commander pour
{% if several_nw %}:<ul>{% endif %}

    {% for nd in user_deliveries %}
        {% if several_nw %}<li>{% endif %}
        {{nd.nw.name}} :
        {% with several_dv=nd.deliveries|several %}
        {% if several_dv %} <ul> {% endif %}
        {% for d in nd.deliveries %}
        {% if several_dv %}<li>{% endif %}

        {# Non-modifiable order #}
        {% if d.purchases|length > 0 and d.dv.state != Delivery.ORDERING_ALL %}
        <em>{{d.dv.name}}</em> {{d.price|price}} (non modifiable) :
        <ul>{% for pc in d.purchases %}<li>{{pc}}</li>{% endfor %}</ul>

        {# Modifiable order #}
        {% elif d.purchases|length > 0 and d.dv.state == Delivery.ORDERING_ALL %}
        <a href="{% url 'edit_user_purchases' delivery=d.dv.id %}">{{d.dv.name}}</a>
        ({{d.price|price}}) :
        <ul>{% for pc in d.purchases %}<li>{{pc}}</li>{% endfor %}</ul>

        {# Order can be passed #}
        {% elif d.dv.state == Delivery.ORDERING_ALL %}
        <a href="{% url 'edit_user_purchases' delivery=d.dv.id %}">{{d.dv.name}}</a>
        {% endif %}{# order may be passed, may be modified #}
        {% if several_dv %}</li>{% endif %}
        {% endfor %}{# g.list #}
        {% if several_dv %}</ul>{% endif %}
        {% endwith %}{# several_dv #}
    {% if several_nw %}</li>{% endif %}
    {% endfor %}{# nw_list #}

{% if several_nw %}</ul>{% endif %}
{% endwith %}{# several_nw #}

{% else %}
<h2>Aucune commande en cours</h2>
{% endif %}

<p><a href="{% url 'view_history' %}">Historique de vos anciennes commandes</a></p>

{% with staffed_networks=user.staff_of_network.all %}
{% if staffed_networks or user.is_staff %}
<h2>Administrer les réseaux</h2>
<ul>
    <li><a href="{% url 'users_html' %}">Gérer les utilisateurs</a></li>
    <li><a href="{% url 'set_message' %}">Poster un message</a></li>
    {% if user.is_staff %}
    <li><a href="#" id="create-network">Créer un nouveau réseau</a></li>
    {% endif %}
    {% for nw in staffed_networks %}
    <li>
        Administrer le réseau
        <a href="{% url 'network_admin' network=nw.id %}">{{nw.name}}.</a>
    </li>
    {% endfor %}{# staffed_networks #}
</ul>
{% endif %}{# staffed_networks or user.is_staff #}
{% endwith %}{# staffed_networks #}

{% with producer=user.producer_of_network.all %}
{% if producer %}
<h2>Administrer comme producteur</h2>
<ul>
    {% for p in producer %}
    <li><a href="{% url 'producer' network=p.id %}">Le réseau {{p.name}}</a></li>
    {% endfor %}
</ul>
{% endif %}{# producer #}
{% endwith %}

{% if candidacies %}
<h2>candidatures</h2>
<ul>
    {% if candidacies|length > 6 %}
    <li><a href="{% url 'manage_candidacies' %}"><span class="no">
        {{candidacies|length}} candidatures à valider
    </span></a></li>
    {% else %}
        {% for cd in candidacies %}
    <li><a href="mailto://{{cd.user.email}}">{{cd.user.first_name}} {{cd.user.last_name}}</a>
        pour {{cd.subgroup.network.name}}
        {% if cd.subgroup.name != cd.subgroup.network.name %} / {{cd.subgroup.name}} {%endif %} :
        <a href="{% url 'validate_candidacy' candidacy=cd.id response='Y' %}?next=/"><span class="yes">Accepter</span></a>✔
        /
        <a href="{% url 'validate_candidacy' candidacy=cd.id response='N' %}?next=/"><span class="no">Refuser</span></a>✘
    </li>
    {% endfor %}{# candidacies #}
    {% endif %}{# too many candidacies #}
</ul>
{% endif %}{# candidacies #}

<h2>Gérer ses inscriptions</h2>
<p><a href="{% url 'candidacy' %}">S'inscrire à d'autres réseau, se désinscrire, changer de sous-groupe...<img src="{% static 'images/edit.png' %}"/></a></p>

{% endblock %}
