{% extends 'layout_narrow.html' %}
{% load static %}
{% load floreal_filters %}

{% block document_ready %}
    {% if user.is_staff %}
    $("#create-network").on('click', (x) => {
        const nw_name = window.prompt("Créer un nouveau réseau nommé :")
        if( ! nw_name) return false;
        const sg_name = window.prompt(
            "Créer un premier sous-groupe du réseau " + nw_name +
            " ? Pour un réseau sans sous-groupe, cliquez sur «Annuler»."
        );
        if( ! sg_name) { sg_name = nw_name; }
        const url_scheme = "{% url 'create_network' nw_name='NW_NAME' sg_name='SG_NAME' %}";
        window.location = url_scheme
            .replace('NW_NAME', encodeURI(nw_name))
            .replace('SG_NAME', encodeURI(sg_name));
        return false;
    });
    {% endif %}

    {% if not has_phone %}
    const phone = window.prompt(
        "Bonjour,\n \n" +
        "Le Civam a besoin de votre numéro te téléphone, si possible mobile, " +
        "pour pouvoir vous joindre en cas de problème de distribution. " +
        "Merci de le renseigner ici.\n \n" +
        "Numéro de mobile de {{user.first_name}} {{user.last_name}}:");
    if(phone) {
        var url = "{% url 'add_phone_number' phone='PHONE' %}".replace('PHONE', phone);
        $.ajax(url);
    }
    {% endif %}

{% endblock %}

{% block content %}

{% if messages %}
<h2>Message des administrateurs</h2>
{% for msg in messages %}
<p class="admin-message">
  <span class="destination">{{msg.0}}</span> : {{msg.1|safe}}
{% if network_admin or subgroup_admin %}<a href="{% url 'unset_message' id=msg.2 %}">(<span class="no">Supprimer le message ✘</span>)</a>{% endif %}</p>
{% endfor %}
{% endif %}

{% if user_deliveries %}
<h2>Commandes en cours</h2>
Commander pour
{% regroup user_deliveries by network as nw_list %}
{% if nw_list|length > 1 %}:<ul>{% endif %}

    {% for g in nw_list %}
        {% if nw_list|length > 1 %}<li>{% endif %}
        {{g.grouper}} :
        {% if g.list|length > 1 %} <ul> {% endif %}
        {% for dv in g.list %}
        {% if g.list|length > 1 %}<li>{% endif %}
        {% with dv|order:user as order %}

        {# Non-modifiable order #}
        {% if order.price > 0 and dv.state != Delivery.ORDERING_ALL %}
        <em>{{dv.name}}</em> {{order.price|price}} (non modifiable) :
        <ul>{% for pc in order.purchases %}<li>{{pc}}</li>{% endfor %}</ul>

        {# Modifiable order #}
        {% elif order.price > 0 and dv.state == Delivery.ORDERING_ALL %}
        <a href="{% url 'edit_user_purchases' delivery=dv.id %}">{{dv.name}}</a>
        ({{order.price|price}}) :
        <ul>{% for pc in order.purchases %}<li>{{pc}}</li>{% endfor %}</ul>

        {# Order can be passed #}
        {% elif dv.state == Delivery.ORDERING_ALL %}
        <a href="{% url 'edit_user_purchases' delivery=dv.id %}">{{dv.name}}</a>
        {% endif %}{# order may be passed, may be modified #}
        {% endwith %}{# order #}
        {% if g.list|length > 1 %}</li>{% endif %}
        {% endfor %}{# g.list #}
        {% if g.list|length > 1 %}</ul>{% endif %}
    {% if nw_list|length > 1 %}</li>{% endif %}
    {% endfor %}{# nw_list #}

{% if nw_list|length > 1 %}</ul>{% endif %}

{% else %}
<h2>Aucune commande en cours</h2>
{% endif %}

<p><a href="{% url 'view_history' %}">Historique de vos anciennes commandes</a></p>

{% if staffed_networks or user.is_staff %}
<h2>Administrer les réseaux</h2>
<ul>
    <li><a href="{% url 'set_message' %}">Poster un message</a></li>
    {% if user.is_staff %}
    <li><a href="#" id="create-network">Créer un nouveau réseau</a></li>
    {% endif %}
    {% for nw in staffed_networks %}
    <li>
        Administrer le réseau
        <a href="{% url 'network_admin' network=nw.id %}">{{nw.name}}.</a>
    </li>
    {% endfor %}{# staffed_networks #}
</ul>
{% endif %}{# staffed_networks or user.is_staff #}

{% if staffed_subgroups %}
<h2>Administrer les sous-groupes</h2>
<ul>
    <li><a href="{% url 'set_message' %}">Poster un message</a></li>
    {% for ssg in staffed_subgroups %}
    {% with sg=ssg.subgroup %}
    <li>
        {% if sg.name == sg.network.name %}
        {{sg.name}}
        {% else %} Sous-groupe {{sg.name}} de {{sg.network.name}}{% endif %} :
        <ul>
            <li><a href="{% url 'emails_subgroup' subgroup=sg.id %}">e-mails <img src="{% static 'images/email.png' %}"/></a> et
                <a href="{% url 'phones_subgroup' subgroup=sg.id %}">téléphones</a> ☎ des membres.</li>
            {% for dv in ssg.deliveries %}
            <li>Commande <em>{{dv.name}}</em> ({{dv.state_name}}):
                <ul class="horizontal">
                    {% if sg.id|subgroup_has_purchases:dv.id %}
                    <li>Voir:</li>
                    <li><a href="{% url 'view_subgroup_purchases_html' delivery=dv.id subgroup=sg.id %}">en ligne <img src="{% static 'images/grid.png' %}"/</a></li>
                    <li><a href="{% url 'view_subgroup_purchases_xlsx' delivery=dv.id subgroup=sg.id  %}">sous MS-Excel <img src="{% static 'images/excel.png' %}"/></a></li>
                    <li><a href="{% url 'view_subgroup_purchases_latex' delivery=dv.id subgroup=sg.id  %}">en tableau PDF <img src="{% static 'images/pdf.png' %}"/></a></li>
                    <li><a href="{% url 'view_subgroup_cards_latex' delivery=dv.id subgroup=sg.id  %}">en cartes PDF <img src="{% static 'images/pdf.png' %}"/></a></li>
                    {% else %}
                    <li>(Aucun achat)</li>
                    {% endif %}
                    {% if dv.state == Delivery.ORDERING_ALL or dv.state == Delivery.ORDERING_ADMIN %}
                    <li><a href="{% url 'edit_subgroup_purchases' delivery=dv.id subgroup=sg.id%}">
                        Modifier <img src="{% static 'images/edit.png' %}"/></a></li>
                    {% endif %}
                </ul>
            </li>   
            {% endfor %}{# deliveries #}
        </ul>
    {% endwith %}{# sg #}
    {% endfor %}{# staffed_subgroups #}
</ul>
{% endif %}{# staffed_subgroups #}

{% if subgroup_action_deliveries %}
<h2>Régulariser</h2>
<ul>
    {% for action in subgroup_action_deliveries %}
    {% for dv in action.deliveries %}
    {% with sg=action.subgroup %}
    <li>{{dv.name}} ({{dv.state_name}}):
        <ul>
            {% if dv.state == Delivery.ORDERING_ADMIN %}
            {% if sg|subgroup_state:dv < SubgroupState.READY_FOR_DELIVERY %}
            <li>
                <a href="{% url 'edit_subgroup_purchases' delivery=dv.id subgroup=sg.id%}">
                    Modifier<img src="{% static 'images/edit.png' %}"/></a>
            </li>
            <li>
                <a href="{% url 'set_subgroup_state_for_delivery' subgroup=sg.id delivery=dv.id state=SubgroupState.READY_FOR_DELIVERY %}?next=/">
                    <span class="no">Valider la commande du sous-groupe {{sg.name}}</span>
                </a>✔
            </li>
            {% else %}{# subgroup_state == READY_FOR_DELIVERY #}
            <li>
                <span class="yes">Commande validée pour le sous-groupe {{sg.name}}</span>
                (<a href="{% url 'set_subgroup_state_for_delivery' subgroup=sg.id delivery=dv.id state=SubgroupState.INITIAL %}?next=/">
                    annuler
                </a>✘)
            </li>
            {% endif %}{# subgroup_state == READY_FOR_DELIVERY #}
            {% else %}{# delivery.state == REGULATING #}
            {% if sg|subgroup_state:dv < SubgroupState.READY_FOR_ACCOUNTING %}
            <li>
                <a href="{% url 'edit_subgroup_purchases' delivery=dv.id subgroup=sg.id%}">
                    Modifier<img src="{% static 'images/edit.png' %}"/>
                </a>
            </li>
            <li>
                <a href="{% url 'subgroup_regulation' subgroup=sg.id delivery=dv.id %}">
                    <span class="no">Régulariser la comptabilité du sous-groupe {{sg.name}}</span>
                </a>✔
            </li>
            {% else %}{# subgroup_state == READY_FOR_ACCOUNTING #}
            <li>
                <span class="yes">Comptabilité validée pour le sous-groupe {{sg.name}}</span>
                (<a href="{% url 'set_subgroup_state_for_delivery' subgroup=sg.id delivery=dv.id state=SubgroupState.READY_FOR_DELIVERY %}?next=/">
                    annuler
                </a>✘)
            </li>
            {% endif %}{# subgroup_State == READY_FOR_ACCOUNTING #}
            {% endif %}{# delivery.state == REGULATING #}
        </ul>
    </li>
    {% endwith %}{# sg dv #}
    {% endfor %}{# action.deliveries #}
    {% endfor %}{# subgroup_action_deliveries #}
</ul>
{% endif %}{# subgroup_action_deliveries #}


{% if candidacies %}
<h2>candidatures</h2>
<ul>
    {% if candidacies|length > 6 %}
    <li><a href="{% url 'manage_candidacies' %}"><span class="no">
        {{candidacies|length}} candidatures à valider
    </span></a></li>
    {% else %}
        {% for cd in candidacies %}
    <li><a href="mailto://{{cd.user.email}}">{{cd.user.first_name}} {{cd.user.last_name}}</a>
        pour {{cd.subgroup.network.name}}
        {% if cd.subgroup.name != cd.subgroup.network.name %} / {{cd.subgroup.name}} {%endif %} :
        <a href="{% url 'validate_candidacy' candidacy=cd.id response='Y' %}?next=/"><span class="yes">Accepter</span></a>✔
        /
        <a href="{% url 'validate_candidacy' candidacy=cd.id response='N' %}?next=/"><span class="no">Refuser</span></a>✘
    </li>
    {% endfor %}{# candidacies #}
    {% endif %}{# too many candidacies #}
</ul>
{% endif %}{# candidacies #}

<h2>Gérer ses inscriptions</h2>
<p><a href="{% url 'candidacy' %}">S'inscrire à d'autres réseau, se désinscrire, changer de sous-groupe...<img src="{% static 'images/edit.png' %}"/></a></p>

{% endblock %}
