{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Solalim - Gestion associative de commandes en circuits courts</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,900&display=swap" rel="stylesheet">


  <!-- JQUERY
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <script src="{% static 'jquery/jquery.js' %}"></script>

  <!-- Bootstrap fancy widgets (must be placed after jQuery, before custom styles)
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{% static 'popper/popper.js' %}"></script>
  <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" />
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>  
  <script src="{% static 'bootstrap-select/js/bootstrap-select.js' %}"></script>
  <link href="{% static 'bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />
  <link href="{% static 'bootstrap4-toggle/css/bootstrap4-toggle.css' %}" rel="stylesheet" />
  <script src="{% static 'bootstrap4-toggle/js/bootstrap4-toggle.js' %}"></script>



  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/hamburgers.css' %}">

  <script src="{% static 'js/script.js' %}"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

  {% block head %}
  {% endblock %}

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <header id="header " class="headroom">
    <nav id="navigation">
      <div class="hamburger hamburger--spin" tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
      <ul>
        {% block header_items %}
        <li class="current_page_item"><a href="{% url 'index' %}">Accueil</a></li>
        <li><a href="{% url 'orders' %}">Commandes</a></li>
	      {% endblock %}
	
        {% if not user.is_anonymous %}
        <li><a href="{% url 'user' %}">Mon compte<span class="loggedin"> : {{user.first_name}} {{user.last_name}}</span></a></li>
        {% if user.florealuser.has_some_admin_rights %}
        <!-- admin - à afficher pour les comptes admins connectés -->
        <li class="lienSupNav"><a href="{% url 'admin' %}">Administration</a></li>
        <!-- end admin -->
        {% endif %}
        {% endif %}

        <li><a href="{% url 'map' %}">Carte des réseaux</a></li>
        <li><a href="" onclick='alert("Coming soon ☺");'>Lancez votre réseau !</a></li>
        
        {% if user.is_impersonate %}
        <li>
          <a href="{% url 'impersonate-stop' %}" class="button attente" style="width: unset">Cesser d'usurper {{user.first_name}} {{user.last_name}}</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <!-- End Header
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

{% block content %}
  <section class="container margetopXl margebot">
    <h1>Contenu</h1>
    <p>Lorem ipsum</p>
  </section>
{% endblock %}



  <!-- Footer
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col">
          <div class="col">
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="center">
        <p style="margin:0;">© Solalim 2021 - Tous droits réservés - Moteur : <a href="https://github.com/fab13n">Fabien</a> ; Design : <a href="http://raf.pm" target="_blank">RAF</a></p>
        <p><a href="mentions-legales.html">Mentions légales</a></p>
        <p>
          <a href="https://www.laregion.fr">
            <img class="logo-sponsor" src="{% static 'images/logos/region-occitanie.png' %}"/></a>
          <a href="https://www.toulouse-metropole.fr/">
            <img class="logo-sponsor" src="{% static 'images/logos/toulouse-metropole.png' %}"/></a>
          <a href="https://www.banquepopulaire.fr/occitane/votre-banque/fondation-bpoc/">
            <img class="logo-sponsor" src="{% static 'images/logos/banque-populaire.png' %}"/></a>
        </p>
      </div>
  </footer>

</body>

</html>
