{% extends 'layout_common.html' %}
{% load static %}
{% block body %}
    <!-- white container above gray background -->
    <div class="container bg-light px-0">
        <!-- top-level banner: background image + title -->
        <div class="fluid-container top-banner">
            <h1><a href="/">Circuits courts Civam</a></h1>
            <h2>Gestion associative de commandes en circuits courts</h2>
        </div>
        <!-- Breadcrumbs: navigate back, up to the main page -->
        <nav>
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
                {% endblock %}
            </ol>
        </nav>
        <!-- Row with two columns: the side bar and the main content -->
        <div class="row">
            <!-- Side bar -->
            <div class="col-3 px-4" id="side-bar">
                <ul class="nav flex-column">
                    {% block side_bar %}
                    <li>
                    {% if user.is_anonymous %}
                    <em>Non connecté</em>
                    {% else %}
                    Connecté comme<br/>
                    <em>{{user.first_name}} {{user.last_name}}</em>
                    {% endif %}
                    </li>
                    {% if not user.is_anonymous %}
                    <li><a href="{% url 'auth_logout' %}?next={% url 'index' %}">Deconnection</a></li>
                    <li><a href="{% url 'auth_password_change' %}">Changer de mot de passe</a></li>
                    {% if user.is_staff %}
                    <li><a href="{% url 'view_journal' %}">Journal des événements</a></li>
                    <li><a href="{% url 'admin:index' %}">Administrer DB</a></li>
                    <li><a href="{% url 'impersonate-search' %}">Usurper une identité</a></li>
                    {% endif %}
                    {% if user.is_impersonate %}
                    <li><a href="/impersonate/stop/">Cesser d'usurper {{user}}</a></li>
                    {% endif %}
                    {% endif %}
                    <li><a href="{% url 'index' %}">Page d'accueil</a></li>
                    {% endblock %}
                </ul>
            </div>
            <div class="col-9">
                <!-- Main content in a sub-container (row/col classes mess with madding and margins) -->
                <div class="px-4" id="main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <footer class="page-footer">
            <div class="text-center text-muted">
                <small>© 2012-2020 Fabien Fleutot.</small>
            </div>
        </footer>
    </div>
{% endblock %}