{% extends 'layout_common.html' %}
{% load static %}
{% block body %}
    <!-- white container above gray background -->
    <div class="container-fluid bg-light px-0">
        <!-- top-level banner: background image + title -->
        <div class="fluid-container top-banner">
            <h1>Circuits courts Civam</h1>
            <h2>Gestion associative de commandes en circuits courts</h2>
        </div>
        <!-- Breadcrumbs: navigate back, up to the main page -->
        <nav>
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
                {% endblock %}
            </ol>
        </nav>
        <div class="px-4" id="main">
            {% block content %}{% endblock %}
        </div>
        <footer class="page-footer">
            <div class="text-center text-muted">
                <small>© 2012-2020 Fabien Fleutot.</small>
            </div>
        </footer>
    </div>
{% endblock %}