<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Circuits courts Caracole</title>
    <link href="{% static 'layout/default.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% block head %} {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="logo">
        <h1><a href='{% url "index" %}'>Circuits Courts Caracole</a></h1>
        <h2>Gestion associative de commandes en circuits courts</h2>
      </div>
      <!-- start page -->
      <div id="page">
        <!-- start content -->
        <div id="content">
          {% block content %}NO CONTENT{% endblock %}
        </div>
        <!-- end content -->
        <!-- start sidebar -->
        <div id="sidebar">
          {% if user.is_anonymous %}
          <em>Non conneté</em>
          {% else %}
          Connecté comme<br/>
          <em>{{user.first_name}} {{user.last_name}}</em>.
          {% endif %}
          <ul>
            <li><a href="{% url 'auth_logout' %}?next={% url 'index' %}">Deconnection</a></li>
            <li><a href="{% url "index" %}">Page d'accueil</a></li>
            <li><a href="{% url 'auth_password_change' %}">Changer de mot de passe</a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Administrer DB</a></li>
            {% endif %}
          </ul>
          <ul>
            <li><a href="http://circuits-courts.fr/charte_floreal.php">La charte Floreal</a></li>
            <li><a href="http://caracole.le-pic.org/index.php">Caracole</a></li>
          </ul>
        </div>
        <!-- end sidebar -->
        <div style="clear: both;">&nbsp;</div>
      </div>
      <!-- end page -->
      <!-- start footer -->
      <div id="footer">
        <div id="footer-wrap">
          <p id="legal">
            (c) 2012-2015 <a href='mailto://fleutot+caracole@gmail.com'>F. Fleutot</a>.
            CSS (c) <a href="http://www.freecsstemplates.org/">Free
            CSS Templates</a>.
          </p>
        </div>
      </div>
      <!-- end footer -->
    </div>
  </body>
</html>
  
