{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
<script type='text/javascript'>
    // <![CDATA[
    // ]]>
</script>
{% endblock %}

{% block content %}
<section class="container margetopXl margebot">

<h1>Créer une nouvelle commande dans le réseau {{nw.name}}</h1>

<p>Créer une nouvelle commande basée sur :</p>

<ul>
    <li><a href="{% url 'create_empty_delivery' network=nw.id%}">vide</a></li>
    {% for dv in deliveries %}
    <li><a href="{% url 'create_delivery_copy' network=nw.id dv_model=dv.id %}">
        {% if all_networks %}
        <span class="couleur-prim">{{dv.network.name}}|{% if dv.distribution_date%}{{dv.distribution_date|short_date}}|{% endif %}</span>{{dv.name}}
        {% else %}
        <span class="couleur-prim">{% if dv.distribution_date%}{{dv.distribution_date|short_date}}|{% endif %}</span>{{dv.name}}
        {% endif %}
    </a></li>
    {% endfor %}
    {% if all_networks %}
    <li><a href="{% url 'list_delivery_models' network=nw.id %}">Uniquement le réseau {{nw.name}}</a></li>
    {% elif not producer %}
    <li><a href="{% url 'list_delivery_models_all_networks' network=nw.id %}">Lister tous les réseaux</a></li>
    {% endif %}
</ul>

<p><a class="button retour" href="javascript:history.back()">Retour</a></p>
</section>
{% endblock %}
