{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
<script type='text/javascript'>
    // <![CDATA[
    /* Demand confirmation through a dialog before following link. */
    $(function(){
        $("a.confirm").on('click', function(x) {
            return confirm($(this).attr('msg'));
        })
    })
    // ]]>
</script>
{% endblock %}

{% block content %}
<h1>Candidatures au réseau {{nw.name}}</h1>

<p>Valider ou refuser les candidatures :</p>

<ul>
{% for cd in candidacies %}
<li>{{cd.user.first_name}} {{cd.user.last_name}} (<a href="mailto://{{cd.user.email}}">{{cd.user.email}}</a>)
    → {{cd.subgroup.name}} :
    <a href="{% url 'validate_candidacy' candidacy=cd.id response='Y' %}?next={% url 'manage_candidacies' network=nw.id %}"><span class="yes">Oui</span></a>✔
    /
    <a href="{% url 'validate_candidacy' candidacy=cd.id response='N' %}?next={% url 'manage_candidacies' network=nw.id %}"><span class="no">Non</span></a>✘
</li>
{% endfor %}
</ul>
{% endblock %}
