{% extends 'layout_narrow.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
<script type='text/javascript'>
    // <![CDATA[
    /* Demand confirmation through a dialog before following link. */
    $(function(){
        $("a.confirm").on('click', function(x) {
            return confirm($(this).attr('msg'));
        })
    })
    // ]]>
</script>
{% endblock %}

{% block content %}
<h1>Candidatures</h1>

<p>Valider ou refuser les candidatures :</p>

<ul>
{% for cd in candidacies %}
<li><a href="mailto://{{cd.user.email}}">{{cd.user.first_name}} {{cd.user.last_name}}</a>
    pour {{cd.subgroup.network.name}}
    {% if cd.subgroup.name != cd.subgroup.network.name %} / {{cd.subgroup.name}} {%endif %} :
    <a href="{% url 'validate_candidacy' candidacy=cd.id response='Y' %}?next={% url 'manage_candidacies' %}"><span class="yes">Accepter</span></a>✔
    /
    <a href="{% url 'validate_candidacy' candidacy=cd.id response='N' %}?next={% url 'manage_candidacies' %}"><span class="no">Refuser</span></a>✘
</li>
{% endfor %}
</ul>
{% endblock %}
