{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
<script type='text/javascript'>
    // <![CDATA[
    /* Demand confirmation through a dialog before following link. */
    $(function(){
        $("a.confirm").on('click', function(x) {
            return confirm($(this).attr('msg'));
        })
    })
    // ]]>
</script>
{% endblock %}

{% block content %}

<section class="container margetopXl margebot">
    <h1>Candidatures</h1>
    <p>Valider ou refuser les candidatures :</p>
    <ul>
        {% regroup candidacies by network as network_list %}
        {% for group in network_list %}
        <li>Réseau <strong>{{group.grouper.name}}</strong> :
            <ul>
                {% for nm in group.list %}
                <li>{{nm.user.first_name}} {{nm.user.last_name}} ({{nm.user.email}}) :
                    <a href="{% url 'validate_candidacy' user=nm.user_id network=nm.network_id response='Y' %}?next={% url 'manage_candidacies' %}">Accepter</a>
                    /
                    <a href="{% url 'validate_candidacy' user=nm.user_id network=nm.network_id response='N' %}?next={% url 'manage_candidacies' %}">Refuser</a>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}
        </li>
    </ul>
</section>
{% endblock %}
