{% extends 'layout_wide.html' %}
{% load floreal_filters %}
{% load static %}

{% block head %}
<style type="text/css">
tr input[type=button] {visibility: hidden;}
tr:hover input[type=button] {visibility: visible;}
</style>

<script type='text/javascript'>
    // <![CDATA[

    var STATE_NAMES = { {% for it in Delivery.STATE_CHOICES.items %}{{it.0}}: "{{it.1}}", {% endfor %}"pending": "⌛" };

    function set_delivery_state(dv_id, state) {
        var url = "{% url 'set_delivery_state' delivery='DVID' state='STATE' %}".replace('DVID', dv_id).replace('STATE', state);
        function display_state(state){
            $("#dv-"+dv_id+"-state-display").text(STATE_NAMES[state]);
        }
        display_state("pending");
        $.ajax(url, {success: function() {
            display_state(state);
        } });
    }

    function create_subgroup() {
        if( confirm("Êtes-vous sûr de vouloir créer un nouveau sous-groupe d'utilisateurs dans le réseau {{nw.name}} ?")) {
            var name = window.prompt("Créer un nouveau sous-groupe nommé :")
            var url_scheme = "{% url 'create_subgroup' network=nw.id name='NAME' %}";
            if (name) {
                window.location = url_scheme.replace('NAME', encodeURI(name));
            }
        }
        return false;
    }

    function goto_delivery(dv_id) {
        window.location = "{% url 'edit_delivery' delivery='DV_ID' %}".replace('DV_ID', dv_id);
    }

    function rename_delivery(dv_id, dv_name) {
        var new_name = window.prompt("Renommer la commande "+dv_name+" :", dv_name);
        var url = "{% url 'set_delivery_name' delivery='DVID' name='NAME' %}".replace('DVID', dv_id).replace('NAME', new_name);
        if (new_name) {
            $.ajax(url, {success: function() { window.location.reload(); }});
        }
    }

    /* Demand confirmation through a dialog before following link. */
    $(function(){
        $("#create-subgroup").on('click', create_subgroup);
    })
    // ]]>
</script>
{% endblock head %}

{% block content %}

<h2>Administration du réseau {{nw.name}}</h2>
<ul>
  <li><a href="{% url 'list_delivery_models' network=nw.id %}">Créer une nouvelle commande {{nw.name}} <img src="{% static 'images/plus.png' %}"/></a></li>
  {# TODO restrict user edition to this network? #}
  <li><a href="{% url 'users_html' %}">Gérer les membres <img src="{% static 'images/edit.png' %}"/></a></li>
  <li><a href="{% url 'edit_network_description' network=nw.id %}">Éditer la présentation du réseau <img src="{% static 'images/edit.png' %}"/></a></li>
  <li><a href="{% url 'emails_network' network=nw.id %}">e-mails <img src="{% static 'images/email.png' %}"/></a> et
      <a href="{% url 'phones_network' network=nw.id %}">téléphones</a> ☎ du réseau {{nw.name}}.</li>
  <li><a href="{% url 'manage_candidacies' %}">Gérer les candidatures</a></li>
  <li><a href="#" id='create-subgroup'>Créer un nouveau sous-groupe de {{nw.name}}</a></li>
  <li>Voir la synthèse des commandes en cours
      <a href="{% url 'all_deliveries_html' network=nw.id states='BCDE' %}">en ligne</a>,
      <a href="{% url 'all_deliveries_latex' network=nw.id states='BCDE' %}">en PDF</a></li>
  <li><a href="{% url 'invoice_mail_form' network=nw.id %}">Envoyer un rappel mail pour les commandes gelées <img src="{% static 'images/email.png' %}"/></a></li>
  <li><a href="{% url 'archived_deliveries' network=nw.id %}">Voir les commandes archivées</a></li>
</ul>

<h2>Voir ou éditer une commande active</h2>
  <table>
      <tr>
          <th class="left top">Commande</th>
          <th class="left top">État</th>
          <th class="rotate"><div><div>Préparation</div></div></th>
          <th class="rotate"><div><div>Ouverte</div></div></th>
          <th class="rotate"><div><div>Admins</div></div></th>
          <th class="rotate"><div><div>Gelée</div></div></th>
          <th class="rotate"><div><div>Régularisation</div></div></th>
          <th class="rotate"><div><div>Terminée</div></div></th>
      </tr>
      <tr><td>&nbsp;</td></tr>
      {% for dv in deliveries %}
      <tr>
          <td class="left"><a href="{% url 'edit_delivery' delivery=dv.id %}">{{dv.name}} <img src="{% static 'images/edit.png' %}"/></a></td>
          <td id="dv-{{dv.id}}-state-display">{{dv.state_name}}</td>
          {% for S in dv.STATE_CHOICES.keys|sort %}
          <td><input type="radio" name="dv-{{dv.id}}-state" value="dv-{{dv.id}}-state-{{S}}"
                     onclick="set_delivery_state({{dv.id}}, '{{S}}');"
                     {% if dv.state == S %}checked="checked"{% endif %}/></td>
          {% endfor %}
          <td><input type="button" value="renommer" onclick="return rename_delivery({{dv.id}}, '{{dv.name|escapejs}}');"/></td>
          <td><input type="button" value="voir/éditer" onclick="return goto_delivery({{dv.id}});"/></td>
      </tr>
      {% endfor %}
  </table>
  {% if candidacies %}
  <p></p>
  <h2>Candidatures</h2>
  <ul>
    {% for cd in candidacies %}
    <li>{{cd.user.first_name}} {{cd.user.last_name}}
      <a href="mailto://{{cd.user.email}}">({{cd.user.email}})</a> pour le sous-groupe <b>{{cd.subgroup.name}}</b>:
      <a href="{% url 'validate_candidacy' candidacy=cd.id response='Y' %}?next={%url 'network_admin' network=nw.id%}"><span class="yes">Accepter</span></a>✔
      /
      <a href="{% url 'validate_candidacy' candidacy=cd.id response='N' %}?next={%url 'network_admin' network=nw.id%}"><span class="no">Refuser</span></a>✘
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock content %}
