{% extends 'layout.html' %}
{% load floreal_filters %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}

<h1>Gestion des commandes des réseaux Caracole</h1>
<h2>Administration du réseau {{nw.name}}</h2>
<ul>
  <li><a href="{% url 'create_delivery' network=nw.id %}">Créer une nouvelle commande {{nw.name}} <img src="{% static 'images/plus.png' %}"/></a></li>
  <li><a href="{% url 'edit_user_memberships' network=nw.id %}">Répartir les membres en sous-groupes {{nw.name}} <img src="{% static 'images/edit.png' %}"/></a></li>
  <li><a href="{% url 'emails_network' network=nw.id %}">e-mails du réseau {{nw.name}} <img src="{% static 'images/email.png' %}"/></a></li>
  <li>Éditer une commande existante :
      <ul>
          {% for dv in deliveries %}
          <li><a href="{% url 'edit_delivery' delivery=dv.id %}">{{dv.name}}</a></li>
          {% empty %}
          <li>(aucune commande)</li>
          {% endfor %}
      </ul>
  </li>
</ul>
{% endblock content %}
