{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block document_ready %}
{% endblock %}

{% block content %}
<section class="container margetopXl margebot">
    <h1>Commandes en cours</h1>

    <div class="container slim margetop">
      {% for nw, descriptions in networks_and_deliveries %}
      <a id="{{nw.slug}}"></a>
      {% for dd in descriptions %}
      {% with has_freeze=dd.delivery.freeze|is_in_the_future has_distribution=dd.delivery.distribution %}
      <p class="commandes-entete">
        {% if has_freeze %}<span>Commande</span>{% endif %} 
        {% if has_distribution %}Distribution{% endif %}
      </p>
      <ul class="commandes">
        <li>
          <span class="jours">
            {% if has_freeze %}
            J - {{dd.delivery.freeze|days_until}}
            {% else %}
            ?
            {% endif %}          
          </span>
          <a href="{% url 'edit_user_purchases' delivery=dd.delivery.id %}">
            <span class="couleur-prim">
            {% if has_distribution %}{{dd.delivery.distribution}} | {% endif %}
            {{dd.network.name}} |
            </span>
            {{dd.delivery.name}} 
          </a>
        </li>
          <ul>
            {% for pd in dd.products %}
            {% with pc=pd.purchase %}
            <li><strong>{{pc.quantity|floatformat}}</strong> {{pd.unit}} de <strong>{{pd.name}}</strong></li>
            {% endwith %}
            {% endfor %}
            {% if dd.total.price %} <span class="prix">{{dd.total.price}} €</span> {% endif %}
          </ul>
      </ul>
      {% endwith %}{# has_freeze has_distribution #}
      {% endfor %}
      {% endfor %}
    </div>

    <div class="container slim margetop">
      <ul>
        <li> <a href="#">Historique des commandes passées</a> </li>
      </ul>
    </div>

  </section>

{% endblock %}