{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block document_ready %}
{% endblock %}

{% block content %}
<section class="container margetopXl margebot">
    <h1>Commandes en cours</h1>

    <div class="container slim margetop">
      {% for dd in delivery_descriptions %}
      <p class="commandes-entete"><span>Commande</span> Distribution</p>
      <ul class="commandes">
        <li>
          <span class="jours">
            {% if dd.freeze_days >= 0 %}
            J - {{ff.freeze_days }}
            {% else %}
            &nbsp;
            {% endif %}          
          </span>
          <a href="{% url 'edit_user_purchases' delivery=dd.delivery.id %}">
            <span class="couleur-prim">
            {% if dd.delivery_date %}{{dd.delivery_date}}{% else %}—{% endif %}
            | {{dd.network.name}} |
            </span>
            {{dd.delivery.name}} 
          </a>
        </li>
          <ul>
            {% for pd in dd.products %}
            {% with pc=pd.purchase %}
            <li><strong>{{pc.quantity|floatformat}}</strong> {{pd.unit}} de <strong>{{pd.name}}</strong></li>
            {% endwith %}
            {% endfor %}
            {% if dd.total.price %} <span class="prix">{{dd.total.price}} €</span> {% endif %}
          </ul>
      </ul>
      {% endfor %}
    </div>

    <div class="container slim margetop">
      <ul>
        <li> <a href="#">Historique des commandes passées</a> </li>
      </ul>
    </div>

  </section>

{% endblock %}