{% extends 'layout.html' %}
{% load static %}
{% load floreal_filters %}

{% block head %}
<script type='text/javascript'>
function insert_active_products() {
  // Trying to stick to ES2015, as this is a buyers' page. No async/await.
  fetch("{% url 'active_products' %}")
  .then((response) => response.json())
  .then((json) => {
    const purchased_product_ids = $(".purchased-product")
      .map((i, e) => Number(e.id.replace(/^pd-/, ''))).toArray();
    Object.entries(json).forEach(([dv_id, products]) => {
      const products_html = products
        .filter((pd) => !purchased_product_ids.includes(pd.id))
        .map((pd) => `
          <li class='product active-product' id='pd-${pd.id}'>
            <span class='product-name'>${pd.name}</span>:
            <span class='product-price'>${pd.price}€/${pd.unit}</span>
          </li>`)
        .join('\n');
      $(`#dv-${dv_id} ul.purchases`).append(products_html);
    });   
  })
}
</script>
{% endblock %}

{% block content %}
<section class="container margetopXl margebot">

    {% if general_messages|length == 1 %}
    <div class="container slim margetop commandes-detail-intro">
      <p><strong>Message à tous :</strong> {{general_messages.0|safe}}</p>
    </div>

    {% elif general_messages|length > 1 %}
    <div class="container"><p><strong>Messages à tous :</strong></p></div>
    {% for m in general_messages %}
    <div class="container slim margetop commandes-detail-intro">
      <p>{{m|safe}}</p>
    </div>
    {% endfor %}
    {% endif %}{# nw.messages #}
   
    <h1>Commandes en cours</h1>

    <div class="container slim margetop">
      {% for nw in networks %}

      {% if forloop.counter > 1 %}
      <!-- TODO séparateur entre réseaux -->
      {% endif %}

      <a id="{{nw.slug}}"></a>

      {% if nw.messages|length == 1 %}
      <div class="margebotS commandes-detail-intro">
        <p><strong>Message des responsables du réseau {{nw.name}} :</strong> {{nw.messages.0|safe}}</p>
      </div>
      {% elif nw.messages|length > 1 %}
      <div class="margebotS"><p><strong>Messages des responsables du réseau {{nw.name}} :</strong></p></div>
      {% for m in nw.messages %}
      <div class="margebotS commandes-detail-intro"><p>{{m|safe}}</p></div>
      {% endfor %}
      {% endif %}

      {% for dv in nw.deliveries %}
      {% if dv.purchases or dv.state == Delivery.ORDERING_ALL %}
      {% with has_freeze_date=dv.freeze|is_in_the_future has_distribution_date=dv.distribution %}
      <ul class="commandes">
        <li id="dv-{{dv.id}}">
            {% if dv.state > Delivery.ORDERING_ALL %}
            <span class="jours">{{dv.state_name}}</span>  
            {% elif has_freeze_date %}
            <span class="jours" data-toggle="tooltip" title="Commander jusqu'au {{dv.freeze}}">
            J - {{dv.freeze|days_until}}
            </span>
            {% else %}
            <span class="jours" data-toggle="tooltip" title="Date de clôture des commandes non renseignée">
            ?
            </span>
            {% endif %}          
          {% if dv.state == Delivery.ORDERING_ALL %}
          <a href="{% url 'buy' delivery=dv.id %}">
          {% endif %}
            <span class="couleur-prim">
            {% if has_distribution_date %}{{dv.distribution|short_date}} | {% endif %}
            {{nw.name}} |
            </span>
            {{dv.name}} 
          {% if dv.state == Delivery.ORDERING_ALL %}
          </a>
          {% endif %}
          <ul class="purchases">
            {% for pc in dv.purchases %}
            <li class="product purchased-product" id="pd-{{pc.pd_id}}"><strong>{{pc.quantity|floatformat}}</strong>{{pc.unit|unit_multiple}} de <strong>{{pc.name}}</strong></li>
            {% endfor %}
            {% if dv.total_price %} <span class="prix">{{dv.total_price|price}}</span> {% endif %}
          </ul>
        </li>
      </ul>
      {% endwith %}{# has_freeze_date has_distribution_date #}
      {% endif %} {# can order or has ordered #}
      {% endfor %}{# delivery #}
      {% endfor %}{# network #}
    </div>

    <div class="container slim margetop">
      <ul>
        <li> <a href="{% url 'view_history' %}">Historique des commandes passées.</a> </li>
        <li> <a href="#" onclick="insert_active_products()">Voir tous les produits de toutes les commandes.</a></li>
      </ul>
    </div>

  </section>

{% endblock %}