{% extends 'layout_semi_wide.html' %}
{% load floreal_filters %}
{% load static %}

{% block head %}
  <script type='text/javascript'>
  // <![CDATA[
    var PRODUCTS = [ {% for pt in products %}
      {id: {{pt.product.id}}, qpp: {{pt.product.quantity_per_package|default_if_none:"false"}}, unit: "{{pt.product.unit|unit_multiple}}", price: {{pt.product.price}}, ordered: {{pt.quantity}}, delivered: {{pt.quantity}}+{{pt.discrepancy}}{% if pt.discrepancy_reason %}, reason: "{{pt.discrepancy_reason}}"{% endif %}},{% endfor %}
    ];

    function update_mismatches(pd) {
        if(pd.ordered == pd.delivered) { $("#pd" + pd.id).removeClass('mismatch'); }
        else { $("#pd" + pd.id).addClass('mismatch'); }
    }

    function update_delivered_quantity(target) {
        var element = $(target.currentTarget);
        var pd_id = element[0].getAttribute('name').split('-')[0].substr(2)
        var pd = null;
        for (var i = 0; i < PRODUCTS.length; i++) {
            if (PRODUCTS[i].id == pd_id) {
                pd = PRODUCTS[i];
                break;
            }
        }
        pd.delivered = Number(element.val())
        var price = (pd.delivered*pd.price).toFixed(2);
        $("#pd"+pd_id+" .delivered.price").text(price);
        update_mismatches(pd);
        update_total_price();
    }

    /* update per-line totals as well as delivery total */
    function update_total_price() {
        var total_delivered_price = 0;
        for(var i=0; i<PRODUCTS.length; i++) {
            var pd = PRODUCTS[i];
            total_delivered_price += pd.price * pd.delivered;
        }
        $("#total-delivered-price").text(total_delivered_price.toFixed(2));
    }

    $(document).ready(function() {
      $("input[type=number]").bind('keyup mouseup', update_delivered_quantity);
      for(var i=0; i<PRODUCTS.length; i++) {
          var pd = PRODUCTS[i];
          var price = (pd.delivered*pd.price).toFixed(2);
          $("#pd" + pd.id + " input.delivered").val(pd.delivered);
          $("#pd" + pd.id + " .price.delivered").text(price);
          if(pd.reason) { $("#pd" + pd.id + " select").val(pd.reason); }
          update_mismatches(pd);
      }
      update_total_price();
    })
  // ]]>
  </script>
  <style type="text/css">
      input[type=number] { text-align: right; width: 70px; }
      tr { height: 40px; }
      th.left,th.price-tag { text-align: right; }
      tr:nth-child(odd) th.left { background-color: #ffe0e0; }
      .top { text-align: center; }
      td,th { text-align: left; padding-left: 10px; padding-right: 10px; }
      tr.compare:nth-child(odd) td { background-color: #aaffaa; }
      tr.compare.mismatch:nth-child(odd) td { background-color: #ff8888; }
      tr.compare:nth-child(even) td { background-color: #ccffcc; }
      tr.compare.mismatch:nth-child(even) td { background-color: #ffaaaa; }
      tr.compare td.gap { width: 0px; padding: 0px; background-color: inherit; }
      tr.compare.mismatch .reason { display: inline-block; }
      tr.compare .reason { display: none; }
      td.ordered { width: 180px; }
      td.delivered { width: 150px; }
      td.reason, th.reason { width: 140px; height: inherit; }
      td.price, th.price { text-align: right; }
  </style>
{% endblock %}

{% block content %}
<h1>Régulariser la commande</h1>
<p></p>
<form method="POST"
      onsubmit="return confirm('Avez-vous fini de régulariser la commande {{delivery.name}} pour le sous-groupe {{subgroup.name}} ?');")>
    <table id="delivery-table">
      <tr>
        <th>Livraison :</th>
        <td>{{delivery.network.name}} / {{delivery.name}}</td>
      </tr>
      <tr>
        <th>Sous-groupe :</th>
        <td>{{subgroup.name}}</td>
      </tr>
    </table>
    <p>Veuillez renseigner les éventuelles différences entre les produits commandés, et les produits livrés et payés.</p>
    <table id="products-table">
        {# columns: product-name | ordered-quantity | unit | delivered_quantity | reason #}
        <tr>
            <td></td>
            <th class="top" colspan="2">Commandés</th>
            <td class="gap"></td>
            <th class="top" colspan="2">Reçus</th>
            <td class="gap"></td>
            <th class="top reason">Raison de l'écart</th>
        </tr>
        {% for pt in products %}
        <tr class="compare" id="pd{{pt.product.id}}">
            <th class="left">
                {{pt.product.name}}
                {% if pt.product.quantity_per_package %}
                <br/> (ct de {{pt.product.quantity_per_package}} {{pt.product.unit|unit_multiple}})
                {% endif %}
            </th>
            <td class="ordered">
                <span class="ordered total">{{pt.quantity|floatformat}}</span>{{pt.product.unit|unit_multiple}}
                {% if pt.product.quantity_per_package %}
                =<br/>{{pt.full_packages}} cartons de {{pt.product.quantity_per_package}}
                {% if pt.out_of_packages %}
                + {{pt.out_of_packages|floatformat}}{{pt.product.unit|unit_multiple}}
                {% else %}
                {{pt.product.unit|unit_multiple}}
                {% endif %}
                {% endif %}
            </td>
            <td class="price"><span class="ordered price">{{pt.price|price}}</span></td>
            <td class="gap"></td>
            <td class="delivered">
                <input class="delivered"
                       name="pd{{pt.product.id}}-delivered-total"
                       type="number"
                       min="0"
                       step="0.001"
                       value=""/>
                {{pt.product.unit|unit_multiple}}
            </td>
            <td class="price"><span class="delivered price"></span>€</td>
            <td class="gap"></td>
            <td class="reason">
                <select name="pd{{pt.product.id}}-reason" class="reason">
                    <option value="Pesée">Pesée</option>
                    <option value="Non livré">Non livré</option>
                    <option value="Erreur de paiement">Erreur de paiement</option>
                    <option value="Avoir">Avoir</option>
                </select>
            </td>
        </tr>
        {% endfor %}{# totals by product #}
        <tr>
            <th class="left">Total</th>
            <th class="price-tag">Commandé :</th>
            <th class="price"><span id="total-ordered-price">{{ordered_price|price}}</span></th>
            <td></td>
            <th class="price-tag">Livré et payé :</th>
            <th class="price"><span id="total-delivered-price">?</span>€</th>
        </tr>
    </table>
    <input type="submit" value="Valider"/>
    <input type='hidden' name='dv-id' value='{{delivery.id}}' />
    <input type='hidden' name='sg-id' value='{{subgroup.id}}' />
    {% csrf_token %}
</form>
{% endblock %}
