{% extends 'layout.html' %}
{% load floreal_filters %}

{% block head %}
<style type="text/css">
  p#register { text-align: center; top-margin: 20px; font-size: 14pt; font-weight: bold; }
</style>
{% endblock %}

{% block content %}
<h2>Historique des commandes de {{user.first_name}} {{user.last_name}}</h2>
<ul>
  {% for nw, od in orders %}
  <li>{{nw.name}}, {{od.delivery.name}}, {{od.price|price}}:
    <ul>
      {% for pc in od.purchases %}
      <li>{{pc}}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}