{% extends "layout_wide.html" %}
{% load floreal_filters %}
{% load static %}

{% block head %}
<script type='text/javascript'>

  let DATA;

  async function load_delivery_purchases() {
    const res = await fetch("{% url 'view_delivery_purchases_json' delivery=delivery.id %}");
    DATA = await res.json();
    render();
  }

  function render_price(price) {
    return price.toFixed(2) + "€";
  }

  function render_unit(unit) {
    // TODO add "×" when starting with a number
    return unit;
  }

  function render() {

    $(".dv-name").text(DATA.delivery.name);
    $("#total-price").text(render_price(DATA.total.price));
    $(".download-link").each((i, e) => {
      const old_url = $(e).attr('href');
      const new_url = old_url.replace('DVID', DATA.delivery.id);
      $(e).attr('href', new_url);
    });

    DATA.products.forEach(pd => {

      /* Set product name */
      $("#product-names").append(
        `<th class="rotate"><div><div>${pd.name}</div></div></th>`
      );

      /* Fill total product quantities, and package + loose break-up */
      if(pd.quantity_per_package) {
        $("#quantity-per-package").append(
          `<td>${pd.quantity_per_package}${render_unit(pd.unit)}</td>`)
        if(pd.total.out_of_package) {
          // packaged product, some loose items
          $("#packaging").append(`
            <td>
              ${pd.total.quantity} = <br/>
              ${pd.total.packages} × ${pd.quantity_per_package}${render_unit(pd.unit)} <br/>
              <span class="out_of_packages"> + ${pd.total.out_of_package}${render_unit(pd.unit)}</span>
            </td>`);
        } else {
          // packaged product, no loose item
          $("#packaging").append(`
            <td>
              ${pd.total.quantity} = <br/>
              <span class="nothing_out_of_package">
                ${pd.total.packages} × ${pd.quantity_per_package}${render_unit(pd.unit)}
              </span>
            </td>`);
        }
      } else {
        // unpackaged product
        $("#quantity-per-package").append(`<td> - </td>`);
        $("#packaging").append(`
          <td>
            <span class="nothing_out_of_package">${pd.total.quantity}</span>${render_unit(pd.unit)}</span>
          </td>`);
      }
    });

    /* Fill network rows */
    DATA.networks.forEach(nw => {

      /* Only display network summary line if there are several networks. */
      if(DATA.networks.length > 1) {
        /* Name and total price for network. */
        $("#purchases").append(`
          <tr class="nw-row" id="nw-row-${nw.network.id}">
            <th class="left">${nw.network.name}</th>
            <td>${render_price(nw.total.price)}</td>
          </tr>`);

        /* Network total quantities. */
        const $nw_row = $(`#nw-row-${nw.network.id}`); 
        nw.products.forEach(pd =>
          $nw_row.append(
            pd.total.quantity ?
            `<td>${pd.total.quantity}</td` :
            `<td>-</td>`         
          )
        )
      }
      /* Individual user quantities. */
      nw.purchases.forEach((row, i) => {
        const u = nw.users[i];
        const cycle = ['one', 'two', 'three', 'four'][i%4];
        $("#purchases").append(`
          <tr class="u-row nw-row-${nw.network.id}-user ${cycle}" id="u-row-${u.id}">
            <th class"left">${u.first_name} ${u.last_name}</th>
            <td class="price">${render_price(u.total.price)}</td>
          </tr>
        `);
        const $u_row = $(`#u-row-${u.id}`);
        row.forEach(pc => 
          $u_row.append(pc ? `<td>${pc.quantity}</td>` : `<td>-</td>`)
        );
      });

      /* Toggle individual users' visibility when the network row is clicked. */
      /* In a function call to prevent variable sharing between closures. */
      (nw_id =>
        $(`#nw-row-${nw_id}`).click(
          () => $(`.nw-row-${nw_id}-user`).toggle()
        )
      )(nw.network.id); 
    });

    /* Start with user rows hidden when there are several networks. */
    if(DATA.networks.length > 1) {
      $(".u-row").toggle();
    }
  }

  $(document).ready(load_delivery_purchases);
</script>
<style type="text/css">
  .nw-row, .nw-row th { color: white; background-color: #a75a50; font-weight: bold; }
  .one  { background-color: #d5b1ac; }
  .blank  { text-align: left; }
  table { margin-top: 30px; }
</style>
{% endblock %}

{% block content %}

<h1>Commande « <span class="dv-name">...</span> »</h1>

<table class="with-border" id="purchases">

    <tr id="product-names">
        <td class="blank" colspan="2">
          {# no product in user name and total columns #}
          Télécharger:
          <ul>
            <li><a class="download-link" href="{% url 'view_delivery_purchases_xlsx' delivery='DVID' %}">
              Excel&nbsp;<img src="{% static 'images/excel.png' %}"/>
            </a></li>
            <li><a class="download-link" href="{% url 'view_delivery_purchases_latex' delivery='DVID' %}">
              fiches&nbsp;PDF&nbsp;<img src="{% static 'images/pdf.png' %}"/>
            </a></li>
          </ul>
        </td>
    </tr>

    <tr id="quantity-per-package">
        <th class="left" colspan="2">Quantité par carton</th>
    </tr>

    {# Total quantities per product; is it an exact number of packages? #}
    <tr id="packaging">
        <th class="left">Total</th>
        <td id="total-price"></td>
    </tr>
</table>
{% endblock %}
