{% extends 'layout.html' %}
{% load floreal_filters %}

{% block head %}
{% endblock %}

{% block content %}
<section class="container margetopXl margebot">
<h1>Historique des commandes de {{user.first_name}} {{user.last_name}}</h1>
<ul>
  {% for x in deliveries %}
  <li>{{x.network.name}}, {{x.delivery.name}}, {{x.price|price}}:
    <ul>
      {% for pc in x.purchases %}
      <li>{{pc}}</li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
<p><a class="button retour" href="javascript:history.back()">Retour</a></p>
</section>
{% endblock %}