{% extends "layout.html" %}
{% load floreal_filters %}
{% load static %}

{% block head %}
<style type="text/css">
  html, body {
    overflow-x: unset;
  }
  
  td.yes { background-color: #ccffcc; color: green; font-size: larger; }
  
  .highlight { background-color: #ffaaaa; }

</style>

<script type='text/javascript'>

  let DATA;

  function render_price(price) {
    return price.toFixed(2) + "€";
  }

  function render_unit(unit) {
    if("1" <= unit[0] && unit[0] <= "9") {
      return "×"+unit;
    } else if(["pièce", "piece", "pièces", "piece"].includes(unit.toLowerCase())) {
      return "pc";
    } else {
      return unit;
    }
  }

  function render_products_header(products) {
    products.forEach(pd => {

      /* Set product name */
      $("#product-names").append(
        `<th><span>${pd.name}</span></th>
`
      );

      /* Fill total product quantities, and package + loose break-up */
      if(pd.quantity_per_package) {
        $("#quantity-per-package").append(
          `<td>${pd.quantity_per_package}${render_unit(pd.unit)}</td>`)
        if(pd.total.out_of_package) {
          // packaged product, some loose items
          $("#packaging").append(`
            <td>
              ${pd.total.quantity} = <br/>
              ${pd.total.packages} × ${pd.quantity_per_package}${render_unit(pd.unit)} <br/>
              <span class="out-of-packages"> + ${pd.total.out_of_package}${render_unit(pd.unit)}</span>
            </td>`);
        } else {
          // packaged product, no loose item
          $("#packaging").append(`
            <td>
              ${pd.total.quantity} = <br/>
              <span class="nothing-out-of-package">
                ${pd.total.packages} × ${pd.quantity_per_package}${render_unit(pd.unit)}
              </span>
            </td>`);
        }
      } else {
        // unpackaged product
        $("#quantity-per-package").append(`<td> - </td>`);
        $("#packaging").append(`
          <td>
            <span class="nothing_out_of_package">${pd.total.quantity}${render_unit(pd.unit)}</span>
          </td>`);
      }
      });
  }

  function render_group_line(sg) {
    /* Create line */
    $("#purchases").append(`
      <tr class="sg-row" id="sg-row-${sg.subgroup.id}">
        <th class="left">${sg.subgroup.name}</th>
        <td>${render_price(sg.total.price)}</td>
      </tr>`);

    /* Fill with product quantities. */
    const $sg_row = $(`#sg-row-${sg.subgroup.id}`); 
    sg.products.forEach(pd =>
      $sg_row.append(
        pd.total.quantity ?
        `<td>${pd.total.quantity}</td` :
        `<td>-</td>`         
      )
    );
  }

  function render_users(g) {
    /* Individual user quantities. */
    g.purchases.forEach((row, i) => {
      const u = g.users[i];
      const cycle = ['one', 'two', 'three', 'four'][i%4];
      const subgroup_class = g.subgroup ? `sg-row-${g.subgroup.id}-user`: ``;
      $("#purchases").append(`
        <tr class="u-row ${subgroup_class} ${cycle}" id="u-row-${u.id}">
          <th class"left">${u.first_name} ${u.last_name}</th>
          <td class="price">${render_price(u.total.price)}</td>
        </tr>
      `);
      const $u_row = $(`#u-row-${u.id}`);
      row.forEach(pc => 
        $u_row.append(pc ? `<td>${pc.quantity}</td>` : `<td>-</td>`)
      );
    });
  }

  function render_flat(dd) {

    $(".dv-name").text(dd.delivery.name + " " + dd.network.name);
    $("#total-price").text(render_price(dd.total.price));
    $("#download-xlsx").attr("href", `/dv-${dd.delivery.id}.xlsx`);
    $("#download-pdf").attr("href", `/dv-${dd.delivery.id}.pdf`);

    render_products_header(dd.products);
    render_users(dd);
  }

  function render_grouped(dd) {
    $(".dv-name").text(dd.delivery.name);
    $("#total-price").text(render_price(dd.total.price));
    $("#download-xlsx").attr("href", `/dv-${dd.delivery.id}.xlsx`);
    $("#download-pdf").attr("href", `/dv-${dd.delivery.id}.pdf`);  

    render_products_header(dd.products);
    dd.subgroups.forEach(sg => {
      render_group_line(sg);
      render_users(sg);
      const toggle = () => $(`.sg-row-${sg.subgroup.id}-user`).toggle();
      $(`#sg-row-${sg.subgroup.id}`).click(toggle);
    })
    if(dd.subgroups.length > 1) { $(".u-row").toggle(); }
  }

  async function load_delivery() {
    let res = null;
    {% if subgroup %}
    res = await fetch("{% url 'view_delivery_purchases_json' delivery=delivery.id subgroup=subgroup.id %}");
    {% else %}
    res = await fetch("{% url 'view_delivery_purchases_json' delivery=delivery.id %}");
    {% endif %}
    console.log(res);
    if( res.status === 404) {
      $("#content").html(`
      <h1> Aucun achat pour cette commande </h1>
      <div><a class="button retour" href="javascript:history.back()">Retour</a></div>
      `);
    } else {
      DATA = await res.json();
      if(DATA.subgroups) {
        render_grouped(DATA);
      } else {
        render_flat(DATA);
      }
    }
  }

  $(document).ready(load_delivery);
</script>

<style type="text/css">
  .sg-row, .sg-row th { color: white; background-color: #a75a50; font-weight: bold; }
  .sg-row:hover { cursor: pointer; }
  .four  { background-color: #d5b1ac; }
  .blank  { text-align: left; }
  table { margin-top: 30px; }
</style>
{% endblock %}

{% block content %}

<section class="container margetopXl margebot" id="content">

<h1>Commande « <span class="dv-name">...</span> »</h1>

<table class="with-border vertical-headers" id="purchases">

    <tr id="product-names">
        <td class="blank" colspan="2">
          {# no product in user name and total columns #}
          Télécharger:
          <ul>
            <li><a id="download-xlsx" href="#">
              Excel&nbsp;<img src="{% static 'images/excel.png' %}"/>
            </a></li>
            <li><a id="download-pdf" href="#">
              tableau&nbsp;PDF&nbsp;<img src="{% static 'images/pdf.png' %}"/>
            </a></li>
          </ul>
        </td>
    </tr>

    <tr id="quantity-per-package">
        <th class="left" colspan="2">Quantité par carton</th>
    </tr>

    {# Total quantities per product; is it an exact number of packages? #}
    <tr id="packaging">
        <th class="left">Total</th>
        <td id="total-price"></td>
    </tr>
</table>
{% endblock %}
